@import url('../fonts/mulish.css');

@media (min-width:300px) and (max-width:500px) {

	.owl-carousel .item .card,
	.owl-carousel .item {
		border-radius: 12px 12px 15px 15px;
	}

	#customers-testimonials .item {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 50px;
		margin-left: 40px;
		padding: 0;
		height: inherit;
		opacity: .2;
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		border-radius: 3px;
	}

	#customers-testimonials .owl-item.active.center .item {
		padding: 0;
		opacity: 1;
		width: 320px;
		-webkit-transform: scale3d(1.0, 1.0, 1);
		transform: scale3d(1.0, 1.0, 1);
	}

	#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
	#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
		background: #355EFC;
		transform: translate3d(0px, -50%, 0px) scale(0.6);
	}

	#customers-testimonials.owl-carousel .owl-dots {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	#customers-testimonials.owl-carousel .owl-dots .owl-dot {
		display: inline-block;
		outline: none;
	}

	#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
		background: rgb(109, 107, 107);
		display: inline-block;
		height: 30px;
		margin: 0 2px 5px;
		transform: translate3d(0px, -50%, 0px) scale(0.3);
		transform-origin: 50% 50% 0;
		transition: all 250ms ease-out 0s;
		width: 30px;
		border-radius: 100%;
	}


}

@media (min-width:300px) and (max-width:500px) {

	#customers-testimonials .item,
	.owl-carousel .item .card {
		height: 225px !important;
		min-height: 225px !important;
	}
}