@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&display=swap');

@media (min-width:300px) and (max-width:500px) {
	
	#customers-testimonials .item {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 50px;
		margin-left: 40px;
		padding: 0;
		height: 250px;
		opacity: .2;
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: #FFF;
		border-radius: 3px;
	}
	#customers-testimonials .owl-item.active.center .item {
		padding: 0;
		opacity: 1;
		-webkit-transform: scale3d(1.0, 1.0, 1);
		transform: scale3d(1.0, 1.0, 1);
	}

	#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span, #customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
		background: #0784fa;
		transform: translate3d(0px, -50%, 0px) scale(0.6);
	}
	#customers-testimonials.owl-carousel .owl-dots {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	#customers-testimonials.owl-carousel .owl-dots .owl-dot {
		display: inline-block;
		outline: none;
	}
	#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
		background: rgb(255, 255, 255);
		display: inline-block;
		height: 20px;
		margin: 0 2px 5px;
		transform: translate3d(0px, -50%, 0px) scale(0.3);
		transform-origin: 50% 50% 0;
		transition: all 250ms ease-out 0s;
		width: 20px;
		border-radius: 100%;
	}


}
