
/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
    --white-color:                  #ffffff;
    --primary-color:                #0b0655;
    --secondary-color:              #1faafa;
    --section-bg-color:             #f0f8ff;
    --custom-btn-bg-color:          #1faafa;
    --custom-btn-bg-hover-color:    #0b0655;
    --dark-color:                   #000000;
    --p-color:                      #717275;
    --border-color:                 #1faafa;
    --link-hover-color:             #0b0655;
  
    --body-font-family:             'Open Sans', sans-serif;
    --title-font-family:            'Montserrat', sans-serif;
  
    --h1-font-size:                 58px;
    --h2-font-size:                 46px;
    --h3-font-size:                 32px;
    --h4-font-size:                 28px;
    --h5-font-size:                 24px;
    --h6-font-size:                 22px;
    --p-font-size:                  20px;
    --menu-font-size:               14px;
    --btn-font-size:                18px;
    --copyright-font-size:          16px;
  
    --border-radius-large:          100px;
    --border-radius-medium:         20px;
    --border-radius-small:          10px;
  
    --font-weight-normal:           400;
    --font-weight-medium:           500;
    --font-weight-semibold:         600;
    --font-weight-bold:             700;
  }

/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
    background-image: linear-gradient(4deg, #1faafa 0%, #0b0655 100%);
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  
  .hero-section .input-group {
    background-color: var(--white-color);
    border-radius: var(--border-radius-large);
    padding: 10px 15px;
  }
  
  .hero-section .input-group-text {
    background-color: transparent;
    border: 0;
  }
  
  .hero-section input[type="search"] {
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .hero-section button[type="submit"] {
    background-color: var(--primary-color);
    border: 0;
    border-radius: var(--border-radius-large) !important;
    color: var(--white-color);
    max-width: 150px;
  }
  
  
/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
    border-radius: var(--border-radius-large);
    color: var(--p-color);
    margin-bottom: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    outline: none;
  }
  
  .form-floating>label {
    padding-left: 20px;
  }
  
  .custom-form button[type="submit"] {
    background: var(--custom-btn-bg-color);
    border: none;
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-family: var(--title-font-family);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-semibold);
    transition: all 0.3s;
    margin-bottom: 0;
  }
  
  .custom-form button[type="submit"]:hover,
  .custom-form button[type="submit"]:focus {
    background: var(--custom-btn-bg-hover-color);
    border-color: transparent;
  }

  /*---------------------------------------
  FAQs              
-----------------------------------------*/
.faq-section .accordion-item {
    border: 0;
  }
  
  .faq-section .accordion-button {
    font-size: var(--h6-font-size);
    font-weight: var(--font-weight-semibold);
  }
  
  .faq-section .accordion-item:first-of-type .accordion-button {
    border-radius: var(--border-radius-large);
  }
  
  .faq-section .accordion-button:not(.collapsed) {
    border-radius: var(--border-radius-large);
    box-shadow: none;
    color: var(--primary-color);
  }
  
  .faq-section .accordion-body {
    color: var(--p-color);
    font-size: var(--btn-font-size);
    line-height: 40px;
  }
  
  