/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #0b0655;
  --secondary-color: #1faafa;
  --section-bg-color: #f0f8ff;
  --custom-btn-bg-color: #1faafa;
  --custom-btn-bg-hover-color: #0b0655;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #1faafa;
  --link-hover-color: #0b0655;

  --body-font-family: 'Open Sans', sans-serif;
  --title-font-family: 'Montserrat', sans-serif;

  --h1-font-size: 58px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 20px;
  --menu-font-size: 14px;
  --btn-font-size: 18px;
  --copyright-font-size: 16px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/*---------------------------------------
  HERO
-----------------------------------------*/
.hero-section {
  background-image: linear-gradient(4deg, #1faafa 0%, #0b0655 100%);
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 150px;
}

.hero-section .input-group {
  background-color: var(--white-color);
  border-radius: var(--border-radius-large);
  padding: 10px 15px;
}

.hero-section .input-group-text {
  background-color: transparent;
  border: 0;
}

.hero-section input[type="search"] {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 0;
}

.hero-section button[type="submit"] {
  background-color: var(--primary-color);
  border: 0;
  border-radius: var(--border-radius-large) !important;
  color: var(--white-color);
  max-width: 150px;
}


/*---------------------------------------
  CUSTOM FORM
-----------------------------------------*/
.custom-form .form-control {
  border-radius: var(--border-radius-large);
  color: var(--p-color);
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  outline: none;
}

.form-floating>label {
  padding-left: 20px;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-family: var(--title-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-semibold);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}

/*---------------------------------------
  FAQs
-----------------------------------------*/
.faq-section .accordion-item {
  border: 0;
}

.faq-section .accordion-button {
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-semibold);
}

.faq-section .accordion-item:first-of-type .accordion-button {
  border-radius: var(--border-radius-large);
}

.faq-section .accordion-button:not(.collapsed) {
  border-radius: var(--border-radius-large);
  box-shadow: none;
  color: var(--primary-color);
}

.faq-section .accordion-body {
  color: var(--p-color);
  font-size: var(--btn-font-size);
  line-height: 40px;
}

.accordion-button1::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-circle' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
}

.accordion-button1:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-circle' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");
}

.accordion {
  --bs-accordion-active-bg: var(--white-color);
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  --bs-accordion-btn-color: var(--custom-btn-bg-color);
}
/* Terms of Use Start */
.bg-terms::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: inherit;
  background-image: linear-gradient(to bottom, #00CBA9, #05ddb9, #06eec7, #15f8d2, #27fcd8, #3afddd, #50fade, #66fae1, #7ef8e4, #94fcea, #aafaed, #bef8ee);
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: 0;
}

.bg-terms {
  background-image: url(../img/policy_terms.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.terms_tab {
  width: 100%;
  height: 100%;
  background-color: hsla(176, 92%, 90%, 0.29);
}

#terms_tab .tab-content>.tab-pane {
  height: 350px !important;
}

/* Terms of Use End */

.bg-anti::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #3b18e0, #3142e9, #365eee, #4876ef, #608ced, #599ef3, #5caff7, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: 0;
}

.bg-anti {
  background-image: url(../img/policy-pg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.top-space {
  margin-top: 100px;
  z-index: 1;
}

#policy_tab .tab-content>.tab-pane {
  height: 350px !important;
}

.policy_tab_pp {
  width: 100%;
  height: 100%;
  background-color: hsla(176, 92%, 90%, 0.29);
}

.bg-anti-spam::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #f49696, #f68888, #f87a79, #f86c6a, #f85c5a, #ee5150, #e44645, #da3b3b, #c63434, #b22d2d, #9f2626, #8c1f1f);
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: 0;
}

.bg-anti-spam {
  background-image: url(../img/conf-img.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.policy_tab_cp {
  background-image: url(../img/img-grd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.bg-spam {
  background-image: url(../img/bg-anti-spam.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.bg-spam::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #f5a177, #f6a67e, #f6ab85, #f7b08c, #f7b593, #f8b999, #f9bea0, #fac2a6, #fbc7ae, #fccdb6, #fcd2be, #fdd8c6);
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: 0;
}

.policy_tab_ap {
  width: 100%;
  height: 100%;
  background: rgb(253, 247, 196);
  background: -moz-radial-gradient(circle, rgba(253, 247, 196, 0.6222864145658263) 0%, rgba(253, 247, 196, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(253, 247, 196, 0.6222864145658263) 0%, rgba(253, 247, 196, 1) 100%);
  background: radial-gradient(circle, rgba(253, 247, 196, 0.6222864145658263) 0%, rgba(253, 247, 196, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdf7c4", endColorstr="#fdf7c4", GradientType=1);
}

.policy_img {
  width: 450px;
}

.policy_img_pp {
  width: 550px !important;
}

.policy_img_ap {
  width: 550px !important;
}

#policy_tab .tab-content li {
  color: #000102;
}

.fa-xx {
  font-size: 1.298rem;
  -webkit-text-stroke: 0.9px;
}

.tab-row1 .font-weight-bold {
  font-size: 1.08rem;
}

@media (min-width:300px) and (max-width:549px) {
  .bg-anti-spam {
    background-position: top left;
    height: 100vh;
  }
  .bg-terms  {
    background-position: top right;
    height: 650px;
  }
  .top-space {
    margin-top: 290px;
    z-index: 1;
  }

  .policy_img,
  .policy_img_ap,
  .policy_img_pp {
    width: 350px !important;
  }
}

@media (min-width:552px) and (max-width:999px) {
  .bg-spam {
    height: fit-content !important;
  }

  .bg-spam .container-fluid {
    height: inherit;
  }

  .bg-spam::before {
    height: 139%;
  }

  .bg-anti-spam {
    background-position: top right;
  }

  .bg-anti-spam .top-space {
    margin-top: 198px !important;
    z-index: 1;
  }

  .top-space {
    margin-top: 250px;
    z-index: 1;
  }

  .policy_img,
  .policy_img_ap,
  .policy_img_pp {
    width: 350px !important;
  }

  /* Anti-policy tab */
  .policy_tab_ap {
    height: 170% !important;
  }

  /* Privacy policy */
  .bg-anti {
    height: fit-content !important;
  }

  .bg-anti .container-fluid {
    height: inherit;
  }

  .bg-anti::before {
    height: 139%;
  }

  .policy_tab_pp {
    height: 170% !important;
  }

  /* Confidentality policy */
  .bg-anti-spam {
    height: fit-content !important;
  }

  .bg-anti-spam .container-fluid {
    height: inherit;
  }

  .bg-anti-spam::before {
    height: 139%;
  }

  .policy_tab_cp {
    height: 170% !important;
  }
}