/********** Template CSS **********/

/* import google font poppins */

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/* Target the body element */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
}

/* Target scrollbar in Webkit browsers (Safari and Chrome) */
body::-webkit-scrollbar {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot-toggler {
    position: fixed;
    right: 33px;
    bottom: 40px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0670fc;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transition: all .2s ease;
    z-index: 9999;

}

.chatbot-toggler:hover {
    color: #0670fc;
    background: #fff;
    border: 1px solid #0670fc;
}

.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    position: absolute;
}

.chatbot-toggler span:last-child {
    opacity: 0;
}

.chatbot {
    position: fixed;
    right: 80px;
    bottom: 70px;
    height: 450px;
    width: 320px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid var(--primary);
    transform-origin: bottom right;
    -webkit-box-shadow: 1px 1px 10px 5px #5e95e7;
    -moz-box-shadow: 1px 1px 10px 5px #5e95e7;
    box-shadow: 1px 1px 10px 5px #5e95e7;
    transition: all .1s ease;
    z-index: 9999;
}

.show-chatbot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}


.chatbot header {
    background-color: rgb(6, 112, 252);
    padding: 16px 0;
    text-align: center;
    position: relative;
}

.chatbot header h2 {
    color: #fff;
    font-size: 1.4rem;
    border: 2px solid #fff;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 20px 0 20px 0;
}

.chatbot header span {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    transform: translateY(-50%);
    display: none;
}

.chatbox {
    height: 355px;
    overflow-y: auto;
    padding: 15px 20px 70px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    color: #fff;
    text-align: center;
    align-self: flex-end;
    line-height: 32px;
    border-radius: 40%;
    margin-left: 0;
    margin-right: 2px;
}

.chatbox .outgoing {
    justify-content: flex-end;
    margin: 10px 0;
}

.chatbox .chat p {
    color: #fff;
    padding: 0 15px;
    margin-bottom: 0;
    border-radius: 20px 20px 0 20px;
    background-color: rgba(63, 143, 248, 0.849);

}

.chatbox .incoming p {
    color: #000;
    background: #d8d7d7;
    border-radius: 30px 30px 30px 0;
    width: 100%;
}

.chatbot .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}

.chat-input textarea {
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 10px 15px 16px 0;
    padding-bottom: 10px;
    margin-bottom: 5px;
    overflow: hidden;
}

.chat-input span {
    align-self: flex-end;
    height: 35px;
    line-height: 35px;
    color: rgb(6, 112, 252);
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
}

.chat-input textarea:valid~span {
    visibility: visible;
}

@media (max-width:590px) {
    .chatbot-toggler {
        right: 23px;
        bottom: 45px;
    }

    .chatbot {
        right: 65px;
        bottom: 80px;
        height: 368px;
        width: 240px;
    }

    .chatbot header h2 {

        margin-left: 50px;
        margin-right: 50px;
    }

    .chatbot .chatbox {
        height: 90%;
    }

    .chatbot header span {
        display: none;
    }
}


/* End chat box design  */

.custom-tooltip {
    --bs-tooltip-bg: rgba(3, 86, 240, 0.975);
    --bs-tooltip-color: var(--light);
    --bs-tooltip-border-color: var(--primary);
    --bs-tooltip-border-width: 1px;
    --bs-tooltip-border-radius: .5rem;
    --bs-tooltip-padding: 1rem;
    --bs-tooltip-font-size: .95rem;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-arrow-color: rgba(3, 86, 240, 0.975);
}

.chat-tooltip {
    --bs-tooltip-bg: rgba(3, 86, 240, 0.975);
    --bs-tooltip-color: var(--light);
}

.contact-tooltip {
    --bs-tooltip-bg: rgba(25, 162, 253, 0.973);
    --bs-tooltip-color: #fff;
    --bs-tooltip-border-color: #fff;
    --bs-tooltip-border-width: 1px;
    --bs-tooltip-border-radius: .5rem;
    --bs-tooltip-padding: .8rem;
    --bs-tooltip-font-size: .95rem;
    --bs-tooltip-font-weight: 1rem;
}


.SmoothScroll {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.container1 {
    margin-top: 0%;
    width: 100%;
}

.container2 {
    margin-top: auto;
    height: 560px;
}

@media (min-width:300px) and (max-width:850px) {
    .container1 {
        margin-top: 0;
        width: 100%;
    }

    .container2,
    .container2 img {
        margin-top: 0;
        width: 100%;
        height: 445px;
    }

    .opacity-my {
        opacity: .85 !important;
    }

}

@media (max-width:500px) {
    .container2 {
        margin-top: 20px;
        height: 645px;
    }

    .container2,
    .container2 img {
        height: 150px;
        padding: 0;
    }

    .bg-size {
        max-width: 100% !important;
        object-fit: none;
        object-position: 60%;
    }

    .order .order-item1 {
        order: 2;
    }

    .order .order-item2 {
        order: 1;
    }

    .order .order-item3 {
        order: 3;
    }
}

/* start change about us header */


.img-abt {
    background-image: url(../img/aboutus1.jpg);
    width: 100%;
    padding-bottom: 480px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.boder-blur {
    position: absolute;
    width: 30%;
    left: 0;
    bottom: 0;
    margin-left: 40px;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .3s;
}

.boder-blur:hover {
    position: absolute;
    width: 30%;
    left: 0;
    bottom: 0;
    margin-left: 40px;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width:300px) and (max-width:550px) {
    .img-abt {
        max-width: 100% !important;
        height: 390px;
    }

    .boder-blur h1,
    .boder-blur:hover h1 {
        font-size: 1.5rem;
        font-weight: 100;
    }

    .boder-blur {
        display: inline-block;
        width: 55%;
        margin-bottom: 335px;
    }

    .boder-blur:hover {
        width: 55%;
        margin-bottom: 335px;
    }

    .abt-icon {
        font-size: x-small;
    }
}

@media (min-width:510px) and (max-width:850px) {
    .mx-6 {
        margin-left: 6rem !important;
        margin-right: 6rem !important;
    }

    .abt-icon {
        font-size: large;
    }

    .w-lg-100 {
        width: 100% !important;
    }

    .img-abt {
        height: 515px;
    }

    .boder-blur {
        margin-left: 40px;
        width: 40%;
        bottom: 710px;
    }

    .boder-blur:hover {
        margin-left: 40px;
        width: 40%;
        bottom: 710px;
    }
}




/* End change about us header */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Start Service header change */

.service-bg {
    background-image: url(../img/india/servicehead.jpeg);
    width: 100%;
    height: 520px;
    padding-bottom: 480px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.service-border {
    position: absolute;
    width: 25%;
    left: 0;
    bottom: 0;
    margin-left: 3rem;
    margin-bottom: 4rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .2s;
}

.service-border:hover {
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.in-border {
    position: absolute;
    margin-left: 40px;
    width: 16%;
    bottom: 450px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .2s;
}



@media (min-width:550px) and (max-width:850px) {
    .bg {
        height: 580px;
    }

    .service-border {
        display: -moz-inline-stack !important;
        margin-left: 40px;
        width: 35%;
        bottom: 655px;
    }

    .service-border:hover {
        margin-left: 40px;
        width: 35%;
        bottom: 655px;
    }
}

@media (min-width:300px) and (max-width:550px) {
    .service-bg {
        object-fit: none;
        height: 520px;
        background-position: 40% 50%;
    }

    .bg {
        max-width: 100% !important;
        height: 300px;
    }

    .container1 {
        padding: 0;
    }

    .service-border h1,
    .service-border:hover h1 {
        font-size: 1.5rem;
        font-weight: 100;
    }

    .service-border {
        display: -moz-inline-stack !important;
        width: 50%;
        margin-bottom: 14rem;
    }

    .service-border:hover {
        width: 50%;
        margin-bottom: 14rem;
    }
}



/* End Service header change */

/* Start Contact header change */

.contact_bg {
    background-image: url(../img/contact.jpg);
    width: 100%;
    padding-bottom: 485px;
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.contact-border {
    position: absolute;
    margin-left: 40px;
    width: 25%;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .5s;
    -o-transition: 0.7s;
}

.contact-border:hover {
    position: absolute;
    margin-left: 40px;
    width: 25%;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width:300px) and (max-width:550px) {
    .contact_bg {
        height: 390px;
        padding: 0;
    }

    .contact-border h1,
    .contact-border:hover h1 {
        font-size: 1.5rem;
        font-weight: 100;
    }

    .contact-border {
        display: -moz-inline-stack !important;
        width: 50%;
        margin-bottom: 350px;
    }

    .contact-border:hover {
        width: 50%;
        margin-bottom: 350px;
    }
}


@media (min-width:550px) and (max-width:850px) {
    .contact_bg {
        height: 520px;
    }

    .contact-border {
        margin-left: 40px;
        width: 35%;
        bottom: 655px;
    }

    .contact-border:hover {
        margin-left: 40px;
        width: 35%;
        bottom: 655px;
    }
}


.border-width {
    border-width: 2px !important;
    border-radius: 3px;
}

/* End contact header change */

:root {
    --primary: #355EFC;
    --secondary: #ff6600;
    --tertiary: #555555;
    --light: #DFE4FD;
    --dark: #011A41;
    --success: #17f517;
}

.mx-01 {
    margin-right: 0.05rem !important;
    margin-left: 0.05rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #011A41 ;
}

a {
    text-decoration: none !important;
}

.color2 {
    color: var(--secondary);
}

/* Back-to-top start */

/* Index page back to top */
.b-2-top {
    position: fixed;
    right: 33px;
    bottom: 85px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #355EFC;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transition: all .2s ease;
    z-index: 9999;
}

.back-to-top img {
    width: 30px;
    height: 30px;
    transform: rotate(270deg);
    transition: transform 0.3s ease-in-out;
}

.back-to-top:hover img {
    /* transform: rotate(-90deg); */
    width: 32px;
    height: 33px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 35px;
    bottom: 170px;
    z-index: 99;
}

/* Other pages back to top */
.page-top {
    position: fixed;
    right: 35px;
    bottom: 100px;
    width: 80px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transition: all .2s ease;
    z-index: 9999;

}

.page-top img {
    width: 100px;
    height: 50px;
    padding: 10px 10px;
    background: #355EFC;
    border-radius: 50%;
    transform: rotate(270deg);
    transition: transform 0.3s ease-in-out;
}

.page-top:hover img {
    background: #ffffff;

}


.b-2-top:hover {
    color: #355EFC;
    background: #FFFFFF;
}


/* responsive page */

@media (min-width:300px) and (max-width:550px) {
    .back-to-top {
        right: 25px;
    }

    .page-top {
        right: 25px;
        bottom: 100px;
    }
}


/* Back-to-top End */

h1,
.h1,
h2,
.h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 600 !important;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
}


/*** New Spinner ***/
.loading {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hide {
    display: none !important;
}

.loading>img {
    width: 100px;
    height: 150px;

}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    width: 10%;
    height: 20%;
    margin: 10px;
    border: 1px solid black;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}







/*** Spinner ***/

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s ease-out, visibility 0s linear .1s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/

.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/

/* dropdown new update */
.dropbtn1 {
    background-color: white;
    color: grey;
    font-weight: 500;
    font-size: 15.98px;
    border: none;
    cursor: pointer;
}

.submenu {
    position: relative;
    display: inline-block;
}


.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 280px;
    margin-top: -30px;
    margin-left: 140px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #f0f0f0e1;
    z-index: 1;
}

@media (min-width:550px) and (max-width:1150px) {
    .dropdown-content1 {
        margin-top: -35px;
        margin-left: 108px !important;
        width: max-content;
    }
}

@media (min-width:300px) and (max-width:500px) {
    .dropdown-content1 {
        margin-top: -35px;
        margin-left: 108px !important;
        width: 180px;
    }
}

.dropdown-content1 a {
    color: rgb(73, 72, 72);
    padding: 5px 5px;
    width: 100%;
    font-weight: 500;
    font-size: 16.8px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    display: block;
}

.submenu:hover .dropdown-content1 {
    display: block;
}

.submenu .dropbtn1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.submenu:hover .dropbtn1 {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #355EFC;
}

.dropbtn1 span {
    margin-right: 0 !important;
}

.submenu:hover .dropbtn1 .arrow,
.submenu:hover .dropbtn1 .arrow1 {
    background-image: url('../img/arrow_right.svg');
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    transform: translate(180%, 0%);
}

.submenu:hover .dropbtn1 .arrow1 {
    left: 0;
    transform: translate(500%, 0%);
}

.cloud h6 {
    position: absolute;
    top: 30px;
    left: 62px;
    font-size: 9.5px;
}

b.cloud {
    position: absolute;
    bottom: 0;
    top: 13px !important;
    left: 72px;
    color: white !important;
    height: 37px;
    font-size: 31px;
    font-family: 'Black Ops One', cursive;
}

.r-cloud {
    position: absolute;
    bottom: 0;
    top: 0;
    transform: translate(5%, 10%);
    width: 240px;
    height: 55px;
    transform: perspective(2cm);
}

.l-cloud {
    position: absolute;
    bottom: 0;
    top: 0;
    transform: translate(5%, 10%);
    width: 240px;
    height: 55px;
    transform: perspective(4cm);
}

@media (min-width:300px) and (max-width:500px) {
    .cloud h6 {
        top: 25px;
        left: 42px;
        font-size: 7.2px;
    }

    b.cloud {
        top: 3px;
        left: 29px;
        font-size: 23px;
    }

    .r-cloud {
        transform: translate(-10%, 1%);
        width: 160px;
        height: 55px;
        transform: perspective(1cm);
    }

    .l-cloud {
        transform: translate(10, 5%);
        width: 165px;
        height: 50px;
        transform: perspective(2cm);
    }
}

/* ///////////////////////////////////////////////////////////// */
.fixed-top {
    transition: .5s;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 15px 10px;
    color: var(--tertiary);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: #FFFFFF;
    }

    .navbar .navbar-nav .nav-link {
        padding: 8px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.app {
    margin-left: 40px;
}


/*** Header ***/

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

.carousel-control-prev-icon {
    border-radius: 0 3rem 3rem 0;
}

.carousel-control-next-icon {
    border-radius: 3rem 0 0 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


#abt1 {
    color: var(--primary);
    font-size: medium;
}


#abt {
    margin-bottom: 400px;
    margin-left: 68px;
}


.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-weight: 500;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--tertiary);
}


/*** Footer ***/

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: .5px;
    box-shadow: none;
}

.footer {
    background: #000B1C;
}

.copyright {
    color: var(--light);
    background: #000B1C;
    height: min-content;
}

.copyright a {
    color: var(--light);
}

.copyright a:hover {
    color: var(--primary);
}

.con-footer {
    height: 200px;
    width: 800px;
    position: relative;
}

.boom {
    position: absolute;
    bottom: 0;
}

.me-5 {
    margin-right: 3rem !important;
}

.me-6 {
    margin-right: 4rem !important;
}

.me-8 {
    margin-right: 6rem !important;
}

.me-9 {
    margin-right: 8rem !important;
}

@media (min-width: 300px) and (max-width:550px) {
    .w-md-50 {
        width: 42% !important;
    }
}

/* Manual CSS Start*/


/* section 1 Start */

.dump {
    background-image: url(../img/shape.png);
    background-position: 0px 28px;
    background-repeat: no-repeat;
    background-size: 100% 25%;
    transition: 0.3s ease-in-out;
}

.dump:hover {
    transform: scale(0.98);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
}

.beat1 i {
    font-size: 1.995rem;
}

.beat1 {
    border-radius: 50%;
    position: relative;
    margin: 10px;
    width: 75px;
    height: 75px;
    /* background-color: rgba(197, 206, 255); */
    background-color: rgb(202, 229, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 5px solid #ffffff;
    /* -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
}


/* popup forms  */

#important {
    color: red;

}

#myForm {
    display: none;
}

.main {
    position: fixed;
    background-color: #dde8ee;
    bottom: 17%;
    left: 71.5%;
    width: min(100%, 300px);
    border: 1px solid rgb(10, 79, 228);
    -webkit-box-shadow: 0 0 21px 22px #298ffd;
    -moz-box-shadow: 0 0 21px 22px #298ffd;
    box-shadow: 0 0 21px 22px #298ffd;
    border-radius: 35px 35px 35px 25px;
    z-index: 99999;
}

.bg-02 img {
    width: 450px;
}


@media (min-width: 550px) and (max-width: 810px) {
    .main {
        background-color: #dde8ee;
        bottom: 8.5%;
        left: 6.5%;
        width: min(100%, 338px);
    }

    .bg-02 img {
        width: 400px;
    }

    .display-my {
        font-size: 1.7rem;
    }

    .dump {
        background-size: 50%;
        background-position: center 15px;
    }

    .beat1 {
        width: 55px;
        height: 55px;
        margin: 2px;
    }
}

@media (min-width: 300px) and (max-width:550px) {
    .main {
        position: fixed;
        background-color: #dde8ee;
        bottom: 18.5% !important;
        left: 15.85%;
        width: min(100%, 238px);
        border: 1px solid rgb(10, 79, 228);
        -webkit-box-shadow: 0 0 21px 22px #298ffd;
        -moz-box-shadow: 0 0 21px 22px #298ffd;
        box-shadow: 0 0 21px 22px #298ffd;
        border-radius: 35px 35px 35px 25px;
        z-index: 99999;
    }

    .bg-02 img {
        width: 290px;
    }

    #forms {
        position: fixed;
        bottom: 8.5%;
        left: 83% !important;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 15px;
        z-index: 99;
    }

    #show_form {
        margin-bottom: 68px;
    }

    .display-my {
        font-size: 1.5rem;
    }

    .fw-01 {
        font-weight: 100;
    }

    .fw-02 {
        font-weight: 200;
    }

    .fw-03 {
        font-weight: 300;
    }

    .fw-04 {
        font-weight: 400;
    }

    .fs-00 {
        font-size: x-small;
    }

    .fs-01 {
        font-size: smaller;
    }

    .fs-02 {
        font-size: small;
    }

    .fs-03 {
        font-size: medium;
    }

    .fs-04 {
        font-size: large;
    }

    .fs-05 {
        font-size: larger;
    }

    .fs-06 {
        font-size: x-large;
    }

    .dump {
        background-size: 50%;
        background-position: center 15px;
    }

    .beat1 {
        width: 55px;
        height: 55px;
        margin: 2px;
    }
}

.main:hover {
    background-color: #d8e8f1;
}

#forms {
    position: fixed;
    bottom: 8.5%;
    left: 93.6%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    z-index: 99;
}

#show_form {
    margin-bottom: 50px;
}

#show_form:hover {
    background-color: #f1f1f1;
}

#show_form img {
    width: 50px;
    /* orange to blue converted */
    /* filter: saturate(100%) sepia(10%) hue-rotate(180deg) contrast(250%) brightness(100%); */
}



.bg-01 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-01::before {
    content: "";
    background-image: url(../img/f3.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
}


@media (min-width:300px) and (max-width:580px) {
    .bg-01 {
        height: 69.68rem !important;
    }

    .bg-01::before {
        object-fit: none;
        background-position: center bottom;
    }

    .bg-pink {
        background-size: 20% 60%, center;
        background-position: left 40% !important;
    }

    .heart1 {
        width: 50px;
        height: 50px;
        top: 0;
        left: 0;
        transform: translate(-22.8%, -20%) !important;
    }

    .heart1::after {
        width: 50px;
        height: 50px;
    }
}

/* section 1 end */


/* section 2 */

.team {
    background-image: url(../img/bg8.jpg);
    background-position: top;
    background-repeat: no-repeat;
    height: 250px;
    background-size: 100% 55px;
    transition: .5s !important;
    border: 1px solid transparent !important;
}

.heart i {
    font-size: 1.685rem;
}

.team:hover {
    /* border: 1px solid #ff6600 !important; */
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transform: scale(0.98);
}

.team:hover i {
    color: #ff6600 !important;
}

.team1:hover i {
    color: #ff6600 !important;
}

.heart {
    background-image: url(../img/Hearts-In-Heart-blue.svg);
    background-color: #ffffff;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 5px solid white;
}

.heart::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    /* -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3); */
    border-radius: 50%;
}


/*////////////////////////////////////////////////*/
.heart1 i {
    font-size: 1.5rem;
}

.heart1 {
    background-image: url(../img/Hearts-In-Heart-blue.svg);
    background-color: #ffffff;
    border-radius: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 5px solid white;
}

.heart1::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.bg-pink {
    background-image: url(../img/blue.png), linear-gradient(rgb(229, 255, 252), rgb(234, 251, 255));
    background-position: 10px 35px, center;
    background-repeat: no-repeat;
    background-size: 22% 65%, cover;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.bg-pink:hover {
    transform: scale(0.98);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
}


/*////////////////////////////////////////////////*/

.bg-02 {
    background-image: linear-gradient(65deg, rgba(236, 239, 255, 0.8), rgba(203, 207, 253, 0.4), rgba(221, 224, 253, 0.8), rgba(236, 239, 255, 0.4));
    background-repeat: no-repeat;
    background-size: 100% 290%;
    background-position: center;
}




/* section 2 */


/* section 3 start */
.bg-05 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bg-05::before {
    content: "";
    background-image: url(../img/bg8.jpg);
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
    z-index: -1;
}

@media (min-width:300px) and (max-width:580px) {
    .bg-05 {
        height: 99.85rem !important;
    }

    .bg-05::before {
        object-fit: none;
        background-size: auto;
        background-position: center bottom !important;
    }
}

.bg-5 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bg-5::before {
    content: "";
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
    z-index: -1;
}

@media (min-width:300px) and (max-width:580px) {
    .bg-5 {
        height: 103.85rem !important;
    }
}

.beat {
    border-radius: 50%;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 214, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.flower {
    background-image: url(../img/flower.png);
    background-position: 50% -10px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.decor img {
    width: 100px;
    height: 30px;
}


.card .beat i {
    transition: 0.3s;
}

.card:hover .beat i {
    color: #ff6600 !important;
    font-weight: bolder;
}

.card:hover .beat {
    background-color: rgba(255, 255, 255);
}


/* second */

.beat-second {
    border-radius: 10px;
    transform: rotate(50deg);
    background-color: rgb(240, 202, 255);
    position: relative;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: -15px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transition: 0.9s;
}

.pill-bg {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(246, 223, 255, 0.5));
    height: 120px;
}

.pill-bg1 {
    background-image: linear-gradient(to right, rgba(187, 192, 253, 0.5), rgba(255, 255, 255, 0));
    height: 120px;
}

@media (max-width: 992px) {
    .bg-5 .container {
        padding-bottom: 200px !important;
    }
    /* col-6 represent this style */
    .col-bg5 {
        flex: 0 0 auto !important;
        width: 50% !important;
    }
    .pill-bg {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(246, 223, 255, 0.5));
        height: 280px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .pill-bg1 {
        background-image: linear-gradient(to right, rgba(187, 192, 253, 0.5), rgba(255, 255, 255, 0));
        height: 280px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
}

@media (min-width: 992px) {
    .text-lg-dark {
        color: var(--dark) !important;
    }
}

.card .beat-second i {
    transition: 0.7s;
    transform: rotate(-50deg) translateX(-4px);
}

.card:hover .beat-second i {
    color: #ff6600 !important;
    font-weight: bolder;
    transform: rotate(0deg) translateX(0px);
}

.card:hover .beat-second {
    background-color: rgba(246, 247, 255, 0.8);
    border-radius: 50%;
    transform: rotate(0deg);
}


/* section 3 end */


/* section 4 start */

.icon-back {
    background-image: url(../img/wave5.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.bg-04 {
    /* background-image: url(../img/wave5.svg); */
    background-image: linear-gradient(#000B1C, #000B1C);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 43%;
}

.bg-04 .pop1 {
    height: 180px;
}

@media (min-width: 300px) and (max-width: 550px) {
    .bg-04 {
        background-size: 100% 50%;
    }
}

@media (min-width: 550px) and (max-width: 810px) {
    .bg-04 {
        background-size: 100% 48%;
    }
}


/* section 4 end */
/* .pop1:hover {
    letter-spacing: 0.2px;
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
}

.pop1 {
    -o-transition: 0.5s;
    transition: 0.5s;
} */

.pop2:hover {
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
}

.pop2 {
    -o-transition: 0.5s;
    transition: 0.5s;
}

.pop3:hover {
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
}

.pop3 {
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media (min-width: 550px) and (max-width: 810px) {
    .pop3 {
        width: 550px;
    }
}

@media (min-width:300px) and (max-width:500px) {

    .arr1,
    .arr2 {
        background: black;
        color: white;
        border-radius: 5px;
        border: none;
        font-size: large;
        transition: 2s;
    }

    .arr1:hover,
    .arr2:hover {
        background: white;
        color: #000;
        border: #000 solid 1px;
    }
}

@media (max-width:767px) {
    .nav-icons {
        margin-right: -90px;
    }
    .nav-icons a {
        font-size: 10px !important;
        width: 25px !important ;
        height: 25px !important;
    }
    .nav-icons a svg{
        width: 10px !important;
    }
}

/*  section 5 End */



/* section 5 start */

.bg-09 {
    /* background-image: -o-linear-gradient(60deg, rgba(236, 239, 255, 0.8), rgba(203, 207, 253, 0.4), rgba(221, 224, 253, 0.8), rgba(236, 239, 255, 0.4));
    background-image: linear-gradient(30deg, rgba(236, 239, 255, 0.8), rgba(203, 207, 253, 0.4), rgba(221, 224, 253, 0.8), rgba(236, 239, 255, 0.4)); */
    background-image: url(../img/our-portfolio-bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.bg-09 .bg9-row {
    padding-top: 2rem!important;
    margin-top: 2rem!important;
}

@media (min-width:300px) and (max-width:550px) {
    .bg-09 {
        width: 100%;
        height: 81.79rem;
        object-fit: none;
        background-size: auto;
        background-position: center center;
    }
}


/* special sec 2 start */

.cr-bk {
    background-image: -o-linear-gradient(rgba(102, 102, 255, 0.01), rgba(61, 61, 255, 0.01));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 102, 255, 0.01)), to(rgba(61, 61, 255, 0.01)));
    background-image: linear-gradient(rgba(102, 102, 255, 0.01), rgba(61, 61, 255, 0.01));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card.cr-bk{
    width: 130px !important;
    height: 118px !important;
}

.bg-17 {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 231, 231, 0.9)), color-stop(80%, rgba(255, 244, 244, 0.9))), url(../image/bg9.jpg);
    background-image: -o-linear-gradient(bottom, rgba(255, 231, 231, 0.9), rgba(255, 244, 244, 0.9) 80%), url(../image/bg9.jpg);
    background-image: linear-gradient(to top, rgba(255, 231, 231, 0.9), rgba(255, 244, 244, 0.9) 80%), url(../image/bg9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dump1 {
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    border: 1px solid transparent;
}

.dump1:hover {
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    border: 1px solid #ff5e14;
}

.dump1 .card-body i {
    font-size: 50px;
}

.dump1:hover .card-body i {
    color: #ff5e14 !important;
}


/* TRY pop */

.tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 240px;
    background-image: -o-linear-gradient(rgba(47, 0, 255, 0.09) 100%, rgba(47, 0, 255, 0.09) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(47, 0, 255, 0.09)), to(rgba(47, 0, 255, 0.09)));
    background-image: linear-gradient(rgba(47, 0, 255, 0.09) 100%, rgba(47, 0, 255, 0.09) 100%);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    color: black;
    -ms-transform: translateY(-120px) translateX(-19%);
    transform: translateY(-120px) translateX(-19%);
    -webkit-transform: translateY(-120px) translateX(-19%);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    display: none;
}

.tooltip-content1 {
    position: absolute;
    z-index: 9999;
    width: 100px !important;
    background-image: linear-gradient(to bottom, #0268ec, #106fed, #1d76ed, #297ded, #3484ed, #3d89ee, #458eee, #4d93ef, #5498f1, #5a9cf3, #61a1f4, #67a5f6);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    color: #FFFFFF;
    -ms-transform: translateY(-55px) translateX(-20%);
    transform: translateY(-55px) translateX(-20%);
    -webkit-transform: translateY(-55px) translateX(-20%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    display: none;
}

.mark {
    background-color: transparent;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    -ms-transform: translateY(10px) translateX(-5px);
    transform: translateY(10px) translateX(-5px);
    -webkit-transform: translateY(10px) translateX(-5px);
    border-color: #9b85fd96 transparent transparent transparent;
    border-style: solid;
    border-width: 12px 12px 0px 12px;
    height: 0px;
    width: 0px;
    position: absolute;
    padding: 0;
}

.mark1 {
    background-color: transparent;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    -ms-transform: translateY(10px) translateX(-10px);
    transform: translateY(10px) translateX(-10px);
    -webkit-transform: translateY(10px) translateX(-10px);
    border-color: #3484ed transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    height: 0px;
    width: 0px;
    position: absolute;
    padding: 0;
}

.tooltip-content button {
    background-color: #000;
    padding: 4px 5px;
    border-radius: 8px;
    transition: color 0.5s;

    & a {
        color: white !important;
    }
}

.tooltip-content button:hover {
    background-color: #FFFFFF;

    & a {
        color: black !important;
    }
}


/* TRY pop */


/* special sec 2 end */


/* section 5 end */


/* section 6 start */

.show1 img.win-app {
    width: 450px;
    height: 350px;
}

.show2 img.webapp {
    width: 450px;
    height: 335px;
}

.bg-06 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bg-06::before {
    content: "";
    background-image: url(../img/sec-06.jpg);
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
    z-index: -1;
}

@media (min-width: 300px) and (max-width: 550px) {
    .bg-06 {
        width: 100%;
        height: 88.79rem;
        object-fit: none;
        background-size: auto;
        background-position: center center;
    }

    .show1 img.win-app {
        width: 250px;
        height: 250px;
    }

    .show2 img.webapp {
        width: 280px;
        height: 250px;
    }

}


/* Special section start */

.hov1 {
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255, 0)), to(rgba(109, 129, 255, 0.08)));
    background-image: -o-linear-gradient(rgb(255, 255, 255, 0) 0%, rgba(109, 129, 255, 0.08) 100%);
    background-image: linear-gradient(rgb(255, 255, 255, 0) 0%, rgba(109, 129, 255, 0.08) 100%);
}

.hov1:hover {
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.hov1 .card-body i {
    font-size: 40px;
}

.border-none {
    border: none;
}

.btn-silver {
    background-color: #dadbff;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.btn-silver:hover {
    background-color: #9d9eff;
}

.show2,
.show3 {
    display: none;
}

.show3 img {
    width: 300px;
    height: 400px;
}

.show3 .card {
    width: 170px;
    height: 200px;
}

.active1 {
    background-color: #011A41 !important;
    color: white !important;
}

/* Special section end*/


/* section 6 end */
.bg-10 {
    position: relative;
    height: 100vh;
    width: 100%;
}

.bg-10::before {
    content: "";
    background-image: url(../img/colab.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.55;
    z-index: -1;
}

@media (min-width:300px) and (max-width:550px) {
    .bg-10 {
        height: 65.9rem;
    }

    #sec7 .container-fluid {
        margin-top: 50px;
    }

    .show3 i {
        font-size: 1.88rem !important;
    }

    .show3 h5 {
        font-size: 0.88rem !important;
    }

    .show3 p {
        font-size: 0.68rem !important;
    }

    .show3 .card {
        margin: 10px !important;
        padding: 5px !important;
        height: 140px !important;
    }
}

/* section 7 start */



#sec7 .container {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
}

.logo {
    height: 60px;
    width: 60px;
}


/* Form start */

.input-data {
    position: relative;
}

.input-data>input,
.input-data>select {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #000133;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}

.input-data input:focus {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.input-data>label {
    pointer-events: none;
    color: rgb(8, 0, 83);
    font-size: 18px;
    font-weight: bold;
}

.input-data>select:focus {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.bk-col1 {
    background-color: rgba(142, 150, 255, 0.02);
}


/* Form end */


/* section 7 end */

/* ///////////////////////////////////////////////////////// ///////////////////////////////////////////////////////// ///////////////////////////////////////////////////////// */

/* About us start */

.bg-over:hover {
    background-color: #a39f9f;
}

.bg-a4 {
    background-image: linear-gradient(#000B1C, #000B1C);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 150%;
}

.v360 i {
    animation-name: out;
    animation-duration: 0.2s;

}

.v360:hover i {
    animation-name: in;
    animation-duration: 0.3s;
}

@keyframes in {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes out {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* Rotate animation 360 degree */
/* @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

/* service page callback */

.callback {
    width: 700px;
    border-radius: 80px;
}

@media (min-width: 550px) and (max-width: 810px) {
    .callback {
        width: 630px;
        border-radius: 15px;
        margin-bottom: 40px;
    }
}

@media (min-width: 300px) and (max-width: 550px) {
    .callback {
        width: 320px;
        border-radius: 15px;
        margin-bottom: 50px;
        padding: 40px;
    }

}

.bar-clor {
    color: var(--primary);
}

.bar-clor:active {
    color: var(--light)
}

/* contact page start  */

.mybtn {
    background-color: #FFFFFF;
    color: #0670fc;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 10px;
    border: 1px solid #0670fc;
    transition: background-color, color 1s ease;
}

.mybtn:hover {
    background-color: #0670fc;
    color: #FFFFFF;
}

/* point of sales */

#smp-bg {
    background-image: url(../img/smp-bg.svg);
    background-repeat: no-repeat;
    background-position: 30% 30% !important;
    background-size: cover;
}

.caption-bg {
    background-color: #00000083;
    color: var(--dark) !important;
    margin-top: 250px;
    padding: 20px 0px;
    font-size: 100px;
    font-family: cursive;
}

/* Manual CSS end*/