/********** Template CSS **********/
/* import google font poppins */
@import url('./googleWebFonts/blackOps.css');
@import url('./googleWebFonts/poppins.css');
@import url('./googleWebFonts/Lalezar.css');
@import url('./fontawesome-6.4.2/webfonts/fa-brands-400.ttf');

/* Target the body element */
.top-bar.bg-blue {
    position: relative;
    background: #ffffff;
}

#top-icons {
    color: #606164 !important;
    font-size: 13px;
}

.top-bar medium {
    font-family: 'Lalezar', serif;
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 0.998px;
}

.img-icons {
    width: 25px;
    padding-top: 4.5px;
    transition: transform .4s;
}

.img-icons:hover {
    transform: scale(1.2);
}

.img-icons1 {
    width: 25px;
    transition: transform .4s;
}

.img-icons1:hover {
    transform: scale(1.2);
}

.img-icons2 {
    width: 30px !important;
    transition: transform .4s;
}

.img-icons2:hover {
    transform: scale(1.2);
}

html,
body {
    width: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

/* Target scrollbar in Webkit browsers (Safari and Chrome) */
body::-webkit-scrollbar {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: white !important;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot-toggler {
    position: fixed;
    right: 33px;
    bottom: 40px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0670fc;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transition: all .2s ease;
    z-index: 99;
}

.chatbot-toggler:hover {
    color: #0670fc;
    background: #fff;
    border: 1px solid #0670fc;
}

.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    position: absolute;
}

.chatbot-toggler span:last-child {
    opacity: 0;
}

.chatbot {
    position: fixed;
    right: 80px;
    bottom: 70px;
    height: 450px;
    width: 320px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid var(--primary);
    transform-origin: bottom right;
    -webkit-box-shadow: 1px 1px 10px 5px #5e95e7;
    -moz-box-shadow: 1px 1px 10px 5px #5e95e7;
    box-shadow: 1px 1px 10px 5px #5e95e7;
    transition: all .1s ease;
    z-index: 99999;
}

.show-chatbot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header {
    background-color: rgb(6, 112, 252);
    padding: 16px 0;
    text-align: center;
    position: relative;
}

.chatbot header h2 {
    color: #fff;
    font-size: 1.4rem;
    border: 2px solid #fff;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 20px 0 20px 0;
}

.chatbot header span {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    transform: translateY(-50%);
    display: none;
}

.chatbox {
    height: 355px;
    overflow-y: auto;
    padding: 15px 20px 70px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    color: #fff;
    text-align: center;
    align-self: flex-end;
    line-height: 32px;
    border-radius: 40%;
    margin-left: 0;
    margin-right: 2px;
}

.chatbox .outgoing {
    justify-content: flex-end;
    margin: 10px 0;
}

.chatbox .chat p {
    color: #fff;
    padding: 0 15px;
    margin-bottom: 0;
    border-radius: 20px 0px 20px 20px;
    background-color: rgba(63, 143, 248, 0.849);
}

.chatbox .incoming p {
    color: #000;
    background: #d8d7d7;
    border-radius: 30px 30px 30px 0;
    width: 100%;
}

.chatbot .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}

.chat-input textarea {
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 10px 15px 16px 0;
    padding-bottom: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    background: #fff;
}

.chat-input span {
    align-self: flex-end;
    height: 35px;
    line-height: 35px;
    color: rgb(6, 112, 252);
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
}

.chat-input textarea:valid~span {
    visibility: visible;
}

/* End chat box design  */
.bg-03 {
    transition: background 0.4s ease-in;
    background: rgb(194, 234, 247);
    background: -moz-linear-gradient(85deg, rgba(194, 234, 247, 1) 0%, rgba(134, 219, 246, 1) 50%, rgba(76, 204, 245, 0.8911939775910365) 100%);
    background: -webkit-linear-gradient(85deg, rgba(194, 234, 247, 1) 0%, rgba(134, 219, 246, 1) 50%, rgba(76, 204, 245, 0.8911939775910365) 100%);
    background: linear-gradient(85deg, rgba(194, 234, 247, 1) 0%, rgba(134, 219, 246, 1) 50%, rgba(76, 204, 245, 0.8911939775910365) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c2eaf7", endColorstr="#4cccf5", GradientType=1);
}

.custom-tooltip {
    --bs-tooltip-bg: rgba(3, 86, 240, 0.975);
    --bs-tooltip-color: var(--light);
    --bs-tooltip-border-color: var(--primary);
    --bs-tooltip-border-width: 1px;
    --bs-tooltip-border-radius: .5rem;
    --bs-tooltip-padding: 1rem;
    --bs-tooltip-font-size: .95rem;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-arrow-color: rgba(3, 86, 240, 0.975);
}

.chat-tooltip {
    --bs-tooltip-bg: rgba(3, 86, 240, 0.975);
    --bs-tooltip-color: var(--light);
}

.contact-tooltip {
    --bs-tooltip-bg: rgba(25, 162, 253, 0.973);
    --bs-tooltip-color: #fff;
    --bs-tooltip-border-color: #fff;
    --bs-tooltip-border-width: 1px;
    --bs-tooltip-border-radius: .5rem;
    --bs-tooltip-padding: .8rem;
    --bs-tooltip-font-size: .95rem;
    --bs-tooltip-font-weight: 1rem;
}

.SmoothScroll {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.container-vw {
    width: 100vw;
}

.container1 {
    margin-top: 0%;
    width: 100% !important;
}

.container2 {
    margin-top: auto;
    height: 560px;
}

/* Button index landing page */
.ind-btn-warning,
.ind-btn-primary,
.ind-btn-danger,
.ind-btn-orange,
.ind-btn-green {
    transition: background-color 2.9s ease-in-out, color 2.9s ease-in-out;
    cursor: pointer;
}

.ind-text-warning {
    color: #F97B1B;
}

.ind-btn-green {
    color: #FFFFFF;
    background-color: hsl(216, 98%, 52%);
}

.ind-btn-orange {
    background-color: #F97B1B;
    color: #000;
}

.ind-btn-danger {
    background-color: rgb(197, 63, 63);
    color: #000;
}

.ind-btn-warning {
    background-color: #ffc107;
    color: #000;
}

.ind-btn-primary {
    background-color: #0d6efd;
    color: #FFFFFF;
}

.ind-btn-green:hover {
    color: #000;
    background-color: #05f0c9;
}

.ind-btn-orange:hover {
    background-color: hsl(216, 98%, 52%);
    color: #FFFFFF;
}

.ind-btn-danger:hover {
    background-color: hsl(216, 98%, 52%);
    color: #FFFFFF;
}

.ind-btn-primary:hover {
    background-color: hsl(45, 100%, 51%);
    color: #000;
}

.ind-btn-warning:hover {
    background-color: hsl(216, 98%, 52%);
    color: #FFFFFF;
}

.img-abt {
    background-image: url(../img/aboutus1.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.boder-blur {
    position: relative;
    width: 25rem;
    left: 0;
    bottom: 0;
    transform: translateY(30rem) translateX(2rem) !important;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .2s;
}

.boder-blur:hover {
    transform: translateY(29.5rem) translateX(2rem) !important;
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* End change about us header */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Start Service header change */
#service_land {
    position: relative !important;
}

.service-bg {
    background-image: url(../img/india/servicehead.jpeg);
    width: 100%;
    height: 520px;
    padding-bottom: 480px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.service-border {
    position: relative;
    width: 25rem;
    left: 0;
    bottom: 0;
    transform: translateY(30rem) translateX(2rem) !important;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .2s;
}

.service-border:hover {
    transform: translateY(29.5rem) translateX(2rem) !important;
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.in-border {
    position: absolute;
    margin-left: 40px;
    width: 16%;
    bottom: 450px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .2s;
}

/* Start Contact header change */
.contact_bg {
    background-image: url(../img/contact.jpg);
    width: 100%;
    height: 100%;
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.contact-border {
    position: relative;
    width: 25%;
    left: 0;
    bottom: 0;
    transform: translateX(2rem) translateY(30rem) !important;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .2s;
}

.contact-border:hover {
    transform: translateX(2rem) translateY(29.5rem) !important;
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.border-width {
    border-width: 2px !important;
    border-radius: 3px;
}

/* End contact header change */
:root {
    --primary: #355EFC;
    --secondary: #ff6600;
    --tertiary: #555555;
    --light: #DFE4FD;
    --dark: #011A41;
    --success: #17f517;
}

.mx-01 {
    margin-right: 0.05rem !important;
    margin-left: 0.05rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #011A41;
}

a {
    text-decoration: none !important;
}

.color2 {
    color: var(--secondary);
}

/* Back-to-top start */
/* Index page back to top */
#main_top.page-top {
    right: 2.3% !important;
    bottom: 25% !important;
}

.page-top {
    position: fixed;
    right: 35px;
    bottom: 100px;
    width: 80px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transition: all .2s ease;
    z-index: 99;
}

.page-top img {
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    background: #355EFC;
    border-radius: 50%;
    transform: rotate(270deg);
    transition: transform 0.3s ease-in-out;
}

.page-top:hover img {
    background: #ffffff;
}

.b-2-top:hover {
    color: #355EFC;
    background: #FFFFFF;
}

/* Back-to-top End */
h1,
.h1,
h2,
.h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 600 !important;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
}

/*** New Spinner ***/
.loading {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none !important;
}

.loading>img {
    width: 100px;
    height: 150px;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    width: 10%;
    height: 20%;
    margin: 10px;
    border: 1px solid black;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/
/* dropdown new update */
.dropbtn1 {
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 15.98px;
    border: none;
    cursor: pointer;
}

.submenu {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 300px;
    margin-top: -30px;
    margin-left: 140px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #f0f0f0e1;
    z-index: 1;
}

.dropdown-content1 a {
    color: rgb(73, 72, 72);
    padding: 5px 5px;
    width: 100%;
    font-weight: 500;
    font-size: 16.8px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    display: block;
}

.submenu:hover .dropdown-content1 {
    display: block;
}

.submenu .dropbtn1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.submenu:hover .dropbtn1 {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #355EFC;
}

.dropbtn1 span {
    margin-right: 0 !important;
}

.submenu:hover .dropbtn1 .arrow,
.submenu:hover .dropbtn1 .arrow1 {
    background-image: url('../img/arrow_right.svg');
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    transform: translate(180%, 0%);
}

.submenu:hover .dropbtn1 .arrow1 {
    left: 0;
    transform: translate(500%, 0%);
}

.cloud h6 {
    position: absolute;
    top: 30px;
    left: 62px;
    font-size: 9.5px;
    color: black;
}

b.cloud {
    position: absolute;
    bottom: 0;
    top: 13px !important;
    left: 72px;
    color: white !important;
    height: 37px;
    font-size: 31px;
    font-family: 'Black Ops One', cursive;
}

.r-cloud {
    position: absolute;
    bottom: 0;
    top: 0;
    transform: translate(5%, 10%);
    width: 240px;
    height: 55px;
    transform: perspective(2cm);
}

.l-cloud {
    position: absolute;
    bottom: 0;
    top: 0;
    transform: translate(5%, 10%);
    width: 240px;
    height: 55px;
    transform: perspective(4cm);
}

/* ///////////////////////////////////////////////////////////// */
.fixed-top {
    transition: .5s;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
    transition: transform 0.3s;
}

/* Hover effect */
.navbar .dropdown-toggle:hover:focus::after {
    transform: translateY(2px) rotate(-360deg);
}

.navbar .navbar-nav .nav-link {
    padding: 15px 10px;
    color: var(--tertiary);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

.app {
    margin-left: 40px;
}

/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

.carousel-control-prev-icon {
    border-radius: 0 3rem 3rem 0;
}

.carousel-control-next-icon {
    border-radius: 3rem 0 0 3rem;
}

#home_skyfinch .caro-caption a.btn {
    margin: 8px !important;
}

#abt1 {
    color: var(--primary);
    font-size: medium;
}

.abt-img {
    width: 500px;
}

#abt {
    margin-bottom: 400px;
    margin-left: 68px;
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-weight: 500;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--tertiary);
}

/*** Footer ***/
.footer .cloud {
    height: 37px;
    font-size: 31px;
    color: #FFFFFF;
    font-family: 'Black Ops One', cursive;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: .5px;
    box-shadow: none;
}

.footer {
    background: #000B1C;
}

.footer .foo-policy {
    color: #a39f9f;
}

.copyright {
    color: var(--light);
    background: #000B1C;
    height: min-content;
}

.copyright a {
    color: var(--light);
}

.copyright a:hover {
    color: var(--primary);
}

.con-footer {
    height: 200px;
    width: 800px;
    position: relative;
}

.boom {
    position: absolute;
    bottom: 0;
}

.me-5 {
    margin-right: 3rem !important;
}

.me-6 {
    margin-right: 4rem !important;
}

.me-8 {
    margin-right: 6rem !important;
}

.me-9 {
    margin-right: 8rem !important;
}

/* Manual CSS Start*/
/* section 1 Start */
.dump {
    background-image: url(../img/shape.png);
    background-position: 0px 28px;
    background-repeat: no-repeat;
    background-size: 100% 25%;
    transition: 0.3s ease-in-out;
}

.dump:hover {
    transform: scale(0.98);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
}

.beat1 i {
    font-size: 1.995rem;
}

.beat1 {
    border-radius: 50%;
    position: relative;
    margin: 10px;
    width: 75px;
    height: 75px;
    background-color: rgb(202, 229, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 5px solid #ffffff;
}

/* popup forms  */
#important {
    color: red;
}

#myForm {
    display: none;
}

.main {
    position: fixed;
    background-color: #dde8ee;
    bottom: 17%;
    left: 73%;
    width: min(100%, 300px);
    border: 1px solid rgb(10, 79, 228);
    -webkit-box-shadow: 0 0 21px 22px #298ffd;
    -moz-box-shadow: 0 0 21px 22px #298ffd;
    box-shadow: 0 0 21px 22px #298ffd;
    border-radius: 35px 35px 35px 25px;
    z-index: 99999;
}

.bg-02 img {
    width: 450px;
}

.bg-02 .card.team {
    min-height: 240px;
}

#sec2_1 .swiper .swiper-pagination {
    bottom: 0px;
}

#sec2_1 .swiper .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
}

#sec2_1,
#sec4,
#sec5,
#sec7 {
    position: relative !important;
}

#sec2_1 .container-fluid {
    position: relative !important;
    top: 0;
    left: 0;
    transform: translateX(0) translateY(4rem);
}

#sec4 .container {
    position: relative !important;
    top: 0;
    left: 0;
    transform: translateX(0) translateY(5rem) !important;
}

#sec5 .container {
    position: relative !important;
    top: 0;
    left: 0;
    transform: translateX(0) translateY(4rem) !important;
}

#sec7 .container {
    position: relative !important;
    top: 0;
    left: 0;
    transform: translateX(0) translateY(3rem) !important;
}

.main:hover {
    background-color: #d8e8f1;
}

#forms {
    position: fixed;
    bottom: 14.5%;
    left: 95%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    z-index: 98;
}

#show_form:hover {
    background-color: #f1f1f1;
}

#show_form img {
    width: 50px;
}

#sec1 {
    position: relative !important;
}

#sec1 .container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
}

#sec1 .icon_sec_1 {
    width: 50px;
}

#sec1 .hov1 {
    background-color: rgba(230, 248, 255, 0.863);
    min-height: 179px;
}

.main_divider {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 32px;
    height: 3px;
    border-radius: 40px;
    background-color: #011A41;
}

.outer {
    width: 1px;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.inner {
    position: absolute;
    width: 100%;
    height: 40%;
    background: rgb(36, 35, 35);
    top: 30%;
    box-shadow: 0px 0px 30px 20px grey;
}

.bg-01 {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-01::before {
    content: "";
    background-image: linear-gradient(to right top, #fdd6d1, #fdd6d1, #fdd6d1, #fdd6d1, #fdd6d1, #fdd6d1, #fdd6d1, #fdd6d1, #fdd6d1, #fdd6d1, #fdd6d1, #fdd6d1);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
}

.dev-01 {
    width: 400px;
}

/* section 1 end */
/* section 2 */
.team {
    background-image: url(../img/bg8.jpg);
    background-position: top;
    background-repeat: no-repeat;
    height: inherit;
    background-size: 100% 55px;
    transition: .5s !important;
    border: 1px solid transparent !important;
}

.heart i {
    font-size: 1.585rem;
    padding-bottom: 33px;
}

.team:hover {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transform: scale(0.98);
}

.team:hover i {
    color: #ff6600 !important;
}

.team1:hover i {
    color: #ff6600 !important;
}

.heart {
    background-image: url(../img/Hearts-In-Heart-blue.svg);
    background-color: #ffffff;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 5px solid white;
}

.heart::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

/*////////////////////////////////////////////////*/
.heart1 i {
    font-size: 1.5rem;
}

.heart1 {
    background-image: url(../img/Hearts-In-Heart-blue.svg);
    background-color: #ffffff;
    border-radius: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 5px solid white;
}

.heart1::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.bg-pink {
    background-image: url(../img/blue.png), linear-gradient(to right top, #fdb6ac, #fdb6ac, #fdb6ac, #fdb6ac, #fdb6ac, #fdb6ac, #fdb6ac, #fdb6ac, #fdb6ac, #fdb6ac, #fdb6ac, #fdb6ac);
    background-position: 10px 35px, center;
    background-repeat: no-repeat;
    background-size: 22% 65%, cover;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.bg-pink:hover {
    transform: scale(0.98);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) !important;
}

/*////////////////////////////////////////////////*/
.bg-02 {
    background-image: linear-gradient(65deg, rgba(236, 239, 255, 0.8), rgba(203, 207, 253, 0.4), rgba(221, 224, 253, 0.8), rgba(236, 239, 255, 0.4));
    background-repeat: no-repeat;
    background-size: 100% 290%;
    background-position: center;
}

.bg-02 .smt_img {
    width: 20rem !important;
}

/* section 2 */
/* section 3 start */
.bg-05 {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-05::before {
    content: "";
    background-image: url(../img/bg8.jpg);
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
    z-index: -1;
}

.bg-5 {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-5::before {
    content: "";
    background: url(/img/img-grd.jpg);
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
    z-index: -1;
}

.beat {
    border-radius: 50%;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 214, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.flower {
    background-image: url(../img/flower.png);
    background-position: 50% -10px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.decor img {
    width: 100px;
    height: 30px;
}

.card .beat i {
    transition: 0.3s;
}

.card:hover .beat i {
    color: #ff6600 !important;
    font-weight: bolder;
}

.card:hover .beat {
    background-color: rgba(255, 255, 255);
}

/* second */
.beat-second {
    border-radius: 10px;
    transform: rotate(50deg);
    background-color: rgb(240, 202, 255);
    position: relative;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: -15px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    transition: 0.9s;
}

.pill-bg {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(246, 223, 255, 0.5));
    height: 120px;
}

.pill-bg1 {
    background-image: linear-gradient(to right, rgba(187, 192, 253, 0.5), rgba(255, 255, 255, 0));
    height: 120px;
}

.card .beat-second i {
    transition: 0.7s;
    transform: rotate(-50deg) translateX(-4px);
}

.card:hover .beat-second i {
    color: #ff6600 !important;
    font-weight: bolder;
    transform: rotate(0deg) translateX(0px);
}

.card:hover .beat-second {
    background-color: rgba(246, 247, 255, 0.8);
    border-radius: 50%;
    transform: rotate(0deg);
}

/* section 3 end */
/* section 4 start */
.icon-back {
    background-image: url(../img/wave5.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.bg-04 {
    background-image: linear-gradient(#000B1C, #000B1C);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 47%;
}

.bg-04 .pop1 {
    height: 180px;
}

.pop2:hover {
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
}

.pop2 {
    -o-transition: 0.5s;
    transition: 0.5s;
}

.pop3:hover {
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
}

.pop3 {
    -o-transition: 0.5s;
    transition: 0.5s;
}

/*  section 5 End */
/* section 5 start */
.bg-09 {
    background-image: url(../img/our-portfolio-bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.bg-09 .bg9-row {
    padding-top: 2rem !important;
    margin-top: 2rem !important;
}

/* special sec 2 start */
.cr-bk {
    background-image: -o-linear-gradient(rgba(102, 102, 255, 0.01), rgba(61, 61, 255, 0.01));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 102, 255, 0.01)), to(rgba(61, 61, 255, 0.01)));
    background-image: linear-gradient(rgba(102, 102, 255, 0.01), rgba(61, 61, 255, 0.01));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card.cr-bk {
    width: 130px !important;
    height: 118px !important;
}

.bg-17 {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 231, 231, 0.9)), color-stop(80%, rgba(255, 244, 244, 0.9))), url(../image/bg9.jpg);
    background-image: -o-linear-gradient(bottom, rgba(255, 231, 231, 0.9), rgba(255, 244, 244, 0.9) 80%), url(../image/bg9.jpg);
    background-image: linear-gradient(to top, rgba(255, 231, 231, 0.9), rgba(255, 244, 244, 0.9) 80%), url(../image/bg9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dump1 {
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    border: 1px solid transparent;
}

.dump1:hover {
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    border: 1px solid #ff5e14;
}

.dump1 .card-body i {
    font-size: 50px;
}

.dump1:hover .card-body i {
    color: #ff5e14 !important;
}

/* TRY pop */
.tooltip-content {
    position: absolute;
    z-index: 9999 !important;
    min-width: 240px;
    width: 400px !important;
    background-image: -o-linear-gradient(rgba(47, 0, 255, 0.09) 100%, rgba(47, 0, 255, 0.09) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(47, 0, 255, 0.09)), to(rgba(47, 0, 255, 0.09)));
    background-image: linear-gradient(rgba(47, 0, 255, 0.09) 100%, rgba(47, 0, 255, 0.09) 100%);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    color: black;
    -ms-transform: translateY(-90px) translateX(0);
    transform: translateY(-90px) translateX(0);
    -webkit-transform: translateY(-90px) translateX(0);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    display: none;
}

.tooltip-content1 {
    position: absolute;
    z-index: 9999;
    width: 100px !important;
    background-image: linear-gradient(to bottom, #0268ec, #106fed, #1d76ed, #297ded, #3484ed, #3d89ee, #458eee, #4d93ef, #5498f1, #5a9cf3, #61a1f4, #67a5f6);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    color: #FFFFFF;
    -ms-transform: translateY(-55px) translateX(-20%);
    transform: translateY(-55px) translateX(-20%);
    -webkit-transform: translateY(-55px) translateX(-20%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    display: none;
}

.mark {
    background-color: transparent;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    -ms-transform: translateY(10px) translateX(-5px);
    transform: translateY(10px) translateX(-5px);
    -webkit-transform: translateY(10px) translateX(-5px);
    border-color: rgba(47, 0, 255, 0.205) transparent transparent transparent;
    border-style: solid;
    border-width: 12px 12px 0px 12px;
    height: 0px;
    width: 0px;
    position: absolute;
    padding: 0;
}

.mark1 {
    background-color: transparent;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    -ms-transform: translateY(10px) translateX(-10px);
    transform: translateY(10px) translateX(-10px);
    -webkit-transform: translateY(10px) translateX(-10px);
    border-color: #3484ed transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    height: 0px;
    width: 0px;
    position: absolute;
    padding: 0;
}

.tooltip-content button {
    background-color: #000;
    padding: 4px 5px;
    border-radius: 8px;
    transition: color 0.5s;

    & a {
        color: white !important;
    }
}

.tooltip-content button:hover {
    background-color: #FFFFFF;

    & a {
        color: black !important;
    }
}

/* section 6 start */
.show1 img.win-app {
    width: 450px;
    height: 350px;
}

.show2 img.webapp {
    width: 450px;
    height: 335px;
}

.bg-06 {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-06::before {
    content: "";
    background-image: url(../img/sec-06.jpg);
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
    z-index: -1;
}

/* Special section start */
.hov1 {
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255, 0)), to(rgba(109, 129, 255, 0.08)));
    background-image: -o-linear-gradient(rgb(255, 255, 255, 0) 0%, rgba(109, 129, 255, 0.08) 100%);
    background-image: linear-gradient(rgb(255, 255, 255, 0) 0%, rgba(109, 129, 255, 0.08) 100%);
}

.hov1:hover {
    -ms-transform: scale(1.029);
    transform: scale(1.029);
    -webkit-transform: scale(1.029);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.hov1 .card-body i {
    font-size: 40px;
}

.border-none {
    border: none;
}

.btn-silver {
    background-color: #dadbff;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.btn-silver:hover {
    background-color: #9d9eff;
}

.show2,
.show3 {
    display: none;
}

.show3 img {
    width: 300px;
    height: 400px;
}

.show3 .card {
    width: 170px;
    min-height: 180px;
}

.active1 {
    background-color: #011A41 !important;
    color: white !important;
}

/* Special section end*/
/* section 6 end */
.bg-10 {
    position: relative;
    height: 100%;
    width: 100%;
}

.bg-10::before {
    content: "";
    background-image: url(../img/ind_sec_end.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.55;
    z-index: -1;
}

/* section 7 start */
#sec7 .container {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
}

#land-sec .container {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
}

.logo {
    height: 60px;
    width: 60px;
}

/* Form start */
.input-data {
    position: relative;
}

.input-data>input,
.input-data>select {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #000133;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}

.input-data input:focus {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.input-data>label {
    pointer-events: none;
    color: rgb(8, 0, 83);
    font-size: 18px;
    font-weight: bold;
}

.input-data>select:focus {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.bk-col1 {
    background-color: rgba(142, 150, 255, 0.02);
}

/* Form end */
/* section 7 end */
/* ///////////////////////////////////////////////////////// ///////////////////////////////////////////////////////// ///////////////////////////////////////////////////////// */
/* About us start */
.bg-over:hover {
    background-color: #a39f9f;
}

.bg-a4 {
    background-image: linear-gradient(#000B1C, #000B1C);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 150%;
}

.sec-bg-team {
    height: inherit !important;
}

.v360 i {
    animation-name: out;
    animation-duration: 0.2s;
}

.v360:hover i {
    animation-name: in;
    animation-duration: 0.3s;
}

@keyframes in {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes out {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* service page callback */
.callback {
    width: 700px;
    border-radius: 80px;
}

.bar-clor {
    color: var(--primary);
}

.bar-clor:active {
    color: var(--light)
}

/* contact page start  */
.mybtn {
    background-color: #FFFFFF;
    color: #0670fc;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 10px;
    border: 1px solid #0670fc;
    transition: background-color, color 1s ease;
}

.mybtn:hover {
    background-color: #0670fc;
    color: #FFFFFF;
}

/* point of sales */
#smp-bg {
    background-image: url(../img/smp-bg.svg);
    background-repeat: no-repeat;
    background-position: 30% 30% !important;
    background-size: cover;
}

.caption-bg {
    background-color: #00000083;
    color: var(--dark) !important;
    margin-top: 250px;
    padding: 20px 0px;
    font-size: 100px;
    font-family: cursive;
}

/* Manual CSS end*/
/* Search box Start */
#searchButton span h6 {
    font-family: 'Aclonica';
    font-size: 18px;
}

#exampleModal .searchForm {
    width: 100%;
}

#exampleModal .modal-body {
    height: fit-content;
    max-height: 250px;
}

#exampleModal .modal-content {
    background-color: #e0edff;
}

#exampleModal .modal-content.mt-35 {
    margin-top: 7rem;
}

.collapse #searchButton {
    width: 15vw;
    border-radius: 25px 25px;
}

.collapse #searchButton .fa-search {
    display: flex;
    justify-content: flex-start;
}

#searchButton h6 {
    letter-spacing: 2px;
}

#searchButton h6,
#searchButton .fa {
    color: #c0bebe;
}

#searchButton:hover h6 {
    color: #fff;
}

.highlighted {
    background-color: #81b2fc;
    border-radius: 10px;
}

#searchButton:hover .fa-search {
    color: #fff;
}

/* spinner start */
.dot-spinner {
    --uib-size: 40px;
    --uib-speed: .9s;
    --uib-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
}

.dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse calc(var(--uib-speed) * 1.111) ease-in-out infinite;
}

.dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}