@import url('googleWebFonts/poppins.css');

/* Point of sales start */
.img-pos {
    background-image: radial-gradient(ellipse, #0000, #ddd7d72f),
        linear-gradient(0deg, #0000, #ddd7d777), url(../img/pos-bg.jpg);
    width: 100%;
    height: 100%;
    padding-bottom: 480px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#abt-wave {
    background-image: url(/img/wave-img.jpg);
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the last value (0.7) for desired opacity */
    background-position: 15% 50%;
    background-size: cover;
    background-repeat: no-repeat; 
}

@media (min-width:300px) and (max-width:850px) {
    #abt-wave {
        background-position: 50% 50%;
    }
}

#more {
    display: none;
}

.border-pos {
    position: absolute;
    width: min-content !important;
    left: 0;
    bottom: 0;
    margin-left: 40px;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .3s;
}

.border-pos:hover {
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #0077ff;
    background: #fff;
}


.bg-12 {
    background-image: linear-gradient(to top, #040405, #060517, #090522, #0a042d, #080438, #060540, #060648, #070550, #080658, #0b075f, #0d0767, #10086f);
}

.bg-12 .row {
    margin-top: 80px !important;
}

.bg-12 .row .tab-row1 {
    height: 370px !important;
}
.bg-12 .row .tab-pane {
    height: 305px !important;
}

@media (min-width:300px) and (max-width:900px) {
    .bg-12 .row {
        margin-top: 0px !important;
    }
    .img-pos{
        height: 390px;
    }
}

.bg-12 div.nav {
    display: flex !important;
    flex-wrap: nowrap;
    row-gap: 3px;
    height: 470px !important;
    overflow: hidden !important;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.842);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}


.tab-content1 {
    overflow-y: scroll;
    overscroll-behavior-y: contain;
}

.tab-content1 .tab-pane {
    overscroll-behavior-y: contain;
    z-index: 99999999 !important;
}

.tab-content1:hover {
    cursor: pointer;
}

.tab-content1::-webkit-scrollbar {
    width: 7px;
}

.tab-content1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px #55545450;
    border-radius: 10px;
}

.tab-content1::-webkit-scrollbar-thumb {
    background: #c0bcbc;
    border-radius: 10px;
}

.tab-content1::-webkit-scrollbar-thumb:active {
    background: #414040;
}


@media (min-width:300px) and (max-width:550px) {

    /* point of sales responsive */
    .border-pos {
        position: relative;
        display: flex;
        width: 220px !important;
        left: 0 !important;
        bottom: 0 !important;
        transform: translateX(0%) translateY(590%);
    }
    .border-pos:hover {
        transform: translateX(0%) translateY(590%);
    }
    .border-pos h1 {
        font-size: 1.505rem;
    }

    .bg-12 {
        position: relative;
        height: 600px;
    }

    .li-pos,
    li>.li-pos {
        font-size: 0.705rem !important;
    }
    li.li-pos1 {
        margin-top: -4.5px !important;
    }

}

/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

/* Product Enquiry Button Start */

@media (min-width:300px) and (max-width:500px) {
    .container.btn-pq a.button {
        width: 230px !important;
        padding: 5px !important;
    }

    .btn-pq .button {
        position: relative;
        display: flex;
        left: 0 !important;
        bottom: 0 !important;
        transform: translateX(40%) translateY(-1350%) !important;
    }

    .btn-pq a.button {
        font-size: 1.105rem;
    }
}

.btn-pq .button {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(180%, -400%);
}

.button {
    position: absolute;
    padding: 16px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color);
    border: 2px solid rgba(255, 255, 255, 0.877);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;

    & i {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.button:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color);
    font-weight: bolder;

    & i {
        font-weight: bolder;
    }
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
}

.button:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 10px var(--color),
        0 0 30px var(--color),
        0 0 60px var(--color);
}

.button span {
    position: absolute;
    background: var(--color);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color),
        0 0 20px var(--color),
        0 0 30px var(--color),
        0 0 50px var(--color),
        0 0 100px var(--color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
}

.button:hover span {
    opacity: 0;
    transition-delay: 0s;
}

.button span:nth-child(1),
.button span:nth-child(3) {
    width: 25px;
    height: 4px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
    transform: translateX(0);
}

.button span:nth-child(2),
.button span:nth-child(4) {
    width: 4px;
    height: 25px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
    transform: translateY(0);
}

.button span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
}

.button:hover span:nth-child(1) {
    left: 50%;
}

.button span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
}

.button:hover span:nth-child(3) {
    right: 50%;
}

.button span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
}

.button:hover span:nth-child(2) {
    top: 50%;
}

.button span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
}

.button:hover span:nth-child(4) {
    bottom: 50%;
}


/* Product Enquiry Button Start */

/* Special start */
.hov2 {
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255, 0)), to(rgba(109, 129, 255, 0.08)));
    background-image: -o-linear-gradient(rgb(255, 255, 255, 0) 0%, rgba(109, 129, 255, 0.08) 100%);
    background-image: linear-gradient(rgb(255, 255, 255, 0) 0%, rgba(109, 129, 255, 0.08) 100%);
    width: 300px;
    height: 295px;
}

.hov2:hover {
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.hov2 .card-body i {
    font-size: 40px;
}

.team-item .card {
    width: 280px !important;
    height: 275px !important;
}

.team-item .card .card-body {
    padding-bottom: 5px !important;
}

/* Special End */
@media (min-width:300px) and (max-width:500px) {

    div.team-item,
    .team-item .card {
        width: 165px !important;
        height: 180px !important;
    }

    .all-team3 {
        margin-left: 88px !important;
    }
}

.btn-pop {
    color: #000133;
    border: 2px solid #000133;
    background: transparent;
}

.btn-pop:hover {
    background-color: #000133;
    color: #fff;
}

.bg-7 {
    background: rgb(22, 18, 240);
    background: -moz-linear-gradient(52deg, rgba(22, 18, 240, 1) 0%, rgba(6, 99, 235, 1) 50%, rgba(69, 208, 252, 1) 100%);
    background: -webkit-linear-gradient(52deg, rgba(22, 18, 240, 1) 0%, rgba(6, 99, 235, 1) 50%, rgba(69, 208, 252, 1) 100%);
    background: linear-gradient(52deg, rgba(22, 18, 240, 1) 0%, rgba(6, 99, 235, 1) 50%, rgba(69, 208, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1612f0", endColorstr="#45d0fc", GradientType=1);
}

.bg-11 {
    background: rgb(246, 246, 246);
    background: -moz-radial-gradient(circle, rgba(246, 246, 246, 1) 0%, rgba(138, 198, 241, 1) 50%, rgba(10, 153, 255, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(246, 246, 246, 1) 0%, rgba(138, 198, 241, 1) 50%, rgba(10, 153, 255, 1) 100%);
    background: radial-gradient(circle, rgba(246, 246, 246, 1) 0%, rgba(138, 198, 241, 1) 50%, rgba(10, 153, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f6f6", endColorstr="#0a99ff", GradientType=1);
}

/* Point of sales End */

/* Hotel management systems start */

.img-hms {
    background-image: radial-gradient(ellipse, #0000, #ddd7d777), url(../img/hotel-recp.png), radial-gradient(circle, #ebc092, #fdc6b1, #ffd0cf, #ffdee8, #fbedf8, #fbedf8, #fbedf8, #fbedf8, #ffdee8, #ffd0cf, #fdc6b1, #ebc092);
    width: 100%;
    height: 100%;
    padding-bottom: 480px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.border-hms {
    position: absolute;
    margin-left: 40px;
    width: min-content !important;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .3s;
}

.border-hms:hover {
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width:300px) and (max-width:500px) {
    .img-hms {
        height: 390px !important;
    }

    .bg-00 .container1.facts h5 {
        font-size: 1.195rem !important;
    }

    .border-hms {
        position: relative;
        display: flex ;
        width: 230px ;
        left: 0 !important;
        bottom: 0 !important;
        transform: translateX(0%) translateY(590%);
    }
    .border-hms:hover {
        transform: translateX(0%) translateY(590%);
    }

    .border-hms h1 {
        font-size: 0.905rem;
        padding-top: 5px;
    }

    .li-hms,
    li>.li-hms {
        font-size: 0.605rem !important;
    }
    li.li-hms1 {
        margin-top: -6px !important;
    }
}


/* Hotel management systems End */

/* Restaurant management systems Start */
.img-rms {
    background-image: radial-gradient(ellipse, #0000, #ddd7d777),
        linear-gradient(0deg, #0000, #0007), url(../img/restaurant-bg.jpg);
    width: 100%;
    height: 100%;
    padding-bottom: 480px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.border-rms {
    position: absolute;
    margin-left: 40px;
    width: min-content !important;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .3s;
}

.border-rms:hover {
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width:300px) and (max-width:500px) {
    .img-rms {
        height: 390px !important;
    }

    .border-rms {
        position: relative;
        display: flex;
        width: 290px !important;
        bottom: 0 !important;
        transform: translateX(0%) translateY(580%);
        transform: transform 0.5s;
    }
    .border-rms:hover {
        transform: translateX(0%) translateY(580%) scale(1.01);
    }

    .border-rms h1 {
        font-size: 0.895rem;
        font-weight: 100;
        padding-top: 5px;
    }

    .li-rms,
    li>.li-rms {
        font-size: 0.605rem !important;
    }

    li.li-rms1 {
        margin-top: -6px !important;
    }
}

/* Restaurant management system End */

/* Smart Skyfinch Start */
.img-ssfinch {
    background-image: radial-gradient(ellipse, #0000, #ddd7d777),
        linear-gradient(0deg, #0000, #ddd7d777), url(../img/smart-bg.jpg);
    width: 100%;
    height: 100%;
    padding-bottom: 480px;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.border-ssfinch {
    position: absolute;
    margin-left: 40px;
    width: 49% !important;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .3s;
}

.border-ssfinch:hover {
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width:300px) and (max-width:500px) {
    .img-ssfinch{
        height: 390px;
    }

    .border-ssfinch {
        position: relative;
        display: flex;
        width: 170px !important;
        left: 0 !important;
        bottom: 0 !important;
        transform: translateX(0%) translateY(600%);
    }
    .border-ssfinch:hover {
        transform: translateX(0%) translateY(600%);   
    }

    .border-ssfinch h1 {
        font-size: 0.895rem;
        font-weight: 100;
        padding-top: 5px;
    }

    .li-ssfinch,
    li>.li-ssfinch {
        font-size: 0.605rem !important;
    }
    .li-ssfinch1 {
        margin-top: -6px !important;
    }
}

/* Smart Skyfinch End */

/* Visitor Management system start */
.img-vms {
    background-image: radial-gradient(ellipse, #0000, #0007),
        linear-gradient(0deg, #0000, #0007), url(../img/vms-bg.jpg);
    width: 100%;
    height: 100%;
    padding-bottom: 480px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.border-vms {
    position: absolute;
    margin-left: 40px;
    width: min-content !important;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .3s;
}

.border-vms:hover {
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width:300px) and (max-width:500px) {
    .img-vms {
        height: 390px;
    }
    .border-vms {
        position: relative;
        display: flex;
        width: 260px !important;
        height: 60px;
        left: 0 !important;
        bottom: 0 !important;
        transform: translateX(0%) translateY(650%);
    }
    .border-vms:hover {
        transform: translateX(0%) translateY(650%);
    }

    .border-vms h1 {
        font-size: 0.895rem;
        font-weight: 100;
        padding-top: 5px;
        padding-right: 3px;
    }

    .li-vms,
    li>.li-vms {
        font-size: 0.605rem !important;
    }
    .li-vms1 {
        margin-top: -6px !important;
    }
}

/* Visitor Management system End */

/* CRM start */
.img-crm {
    background-image: radial-gradient(ellipse, #0000, #0007),linear-gradient(0deg, #0000, #0007), url(../img/crm-bg.jpg);
    width: 100%;
    height: 100%;
    padding-bottom: 480px;
    top: 0;
    left: 0;
    background-position: 10% 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.border-crm {
    position: absolute;
    margin-left: 40px;
    width: max-content !important;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .3s;
}

.border-crm:hover {
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width:300px) and (max-width:500px) {
    .img-crm {
        height: 390px;
        background-position: center 100% !important;
    }

    .border-crm {
        position: relative;
        display: flex;
        width: 160px !important;
        height: 60px;
        left: 0 !important;
        bottom: 0 !important;
        transform: translateX(0%) translateY(650%);
    }

    .border-crm:hover {
        transform: translateX(0%) translateY(650%);
    }

    .border-crm h1 {
        font-size: 1.095rem;
        font-weight: 100;
        padding-top: 5px;
        padding-right: 3px;
    }

    .li-crm,
    li>.li-crm {
        font-size: 0.605rem !important;
    }
    .li-crm1 {
        margin-top: -6px !important;
    }
}

/* CRM End */

/* CTM start */
.img-ctm {
    background-image: radial-gradient(ellipse, #0000, #0007),
        linear-gradient(0deg, #0000, #0007), url(../img/ctm-bg.jpg);
    width: 100%;
    height: 100%;
    padding-bottom: 480px;
    top: 0;
    left: 0;
    background-position: 10% 30% !important;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.border-ctm {
    position: absolute;
    margin-left: 40px;
    width: min-content !important;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .3s;
}

.border-ctm:hover {
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width:300px) and (max-width:500px) {
    .img-ctm {
        height: 390px;
        background-position: center 100% !important;
    }

    .border-ctm {
        position: relative;
        display: flex;
        width: 260px !important;
        height: 60px;
        left: 0 !important;
        bottom: 0 !important;
        transform: translateX(0%) translateY(650%);
    }

    .border-ctm h1 {
        font-size: 0.895rem;
        font-weight: 100;
        padding-top: 5px;
        padding-right: 3px;
    }

    .li-ctm,
    li>.li-ctm {
        font-size: 0.605rem !important;
    }
    .li-ctm1 {
        margin-top: -6px !important;
    }
}

/* CTM End */

/* FMS Start */
.img-fms {
    background-image: radial-gradient(ellipse, #0000, #0007),
        linear-gradient(0deg, #0000, #0007), url(../img/fms.svg);
    width: 100%;
    height: 100%;
    padding-bottom: 480px;
    top: 0;
    left: 0;
    background-position: center bottom !important;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.border-fms {
    position: absolute;
    margin-left: 40px;
    width: min-content !important;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .3s;
}

.border-fms:hover {
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width:300px) and (max-width:500px) {
    .img-fms {
        height: 390px;
        background-position: 85% 100% !important;
    }

    .border-fms {
        position: relative;
        display: flex;
        width: 260px !important;
        height: 60px;
        left: 0 !important;
        bottom: 0 !important;
        transform: translateX(0%) translateY(650%);
    }
    .border-fms:hover {
        transform: translateX(0%) translateY(650%);
    }

    .border-fms h1 {
        font-size: 0.895rem;
        font-weight: 100;
        padding-top: 5px;
        padding-right: 3px;
    }

    .li-fms,
    li>.li-fms {
        font-size: 0.605rem !important;
    }
    .li-fms1 {
        margin-top: -6px !important;
    }
}

/* FMS End */

/* EMS Start */
.img-ems {
    background-image: radial-gradient(ellipse, #0000, #0007),
        linear-gradient(0deg, #0000, #0007), url(../img/ems-bg.jpg);
    width: 100%;
    height: 100%;
    padding-bottom: 480px;
    top: 0;
    left: 0;
    background-position: center !important;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.border-ems {
    position: absolute;
    margin-left: 40px;
    width: min-content !important;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .3s;
}

.border-ems:hover {
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width:300px) and (max-width:500px) {
    .img-ems {
        height: 390px;
        background-position: 60% 100% !important;
    }

    .border-ems {
        position: relative;
        display: flex;
        width: 260px !important;
        height: 60px;
        left: 0 !important;
        bottom: 0 !important;
        transform: translateX(0%) translateY(650%);
    }
    .border-ems:hover {
        transform: translateX(0%) translateY(650%);
    }

    .border-ems h1 {
        font-size: 0.895rem;
        font-weight: 100;
        padding-top: 5px;
        padding-right: 3px;
    }

    .li-ems,
    li>.li-ems {
        font-size: 0.605rem !important;
    }
    .li-ems1 {
        margin-top: -6px !important;
    }
}

/* EMS End */

/* PMS Start */
.img-pms {
    background-image: radial-gradient(ellipse, #f3ebeb00, #ddd9d977),
        linear-gradient(0deg, #f3ebeb00, #ddd9d977), url(../img/pms-bg.png);
    width: 100%;
    height: 100%;
    padding-bottom: 480px;
    top: 0;
    left: 0;
    background-position: left center !important;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.border-pms {
    position: absolute;
    margin-left: 40px;
    width: min-content !important;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .3s;
}

.border-pms:hover {
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


@media (min-width:300px) and (max-width:500px) {
    .img-pms {
        width: 100%;
        height: 390px;
        background-position: 55% 100% !important;
    }

    .border-pms {
        position: relative;
        display: flex;
        width: 260px !important;
        height: 60px;
        left: 0 !important;
        bottom: 0 !important;
        transform: translateX(0%) translateY(650%);
    }
    .border-pms:hover {
        transform: translateX(0%) translateY(650%);
    }

    .border-pms h1 {
        font-size: 0.895rem;
        font-weight: 100;
        padding-top: 5px;
        padding-right: 3px;
    }

    .li-pms,
    li>.li-pms {
        font-size: 0.605rem !important;
    }
    .li-pms1 {
        margin-top: -6px !important;
    }
}

/* PMS End */

/* sales and Services Start */
.img-sales {
    background-image: radial-gradient(ellipse, #0000, #0007),
        linear-gradient(0deg, #0000, #0007), url(../img/sales-bg.jpg);
    width: 100%;
    height: 100%;
    padding-bottom: 480px;
    top: 0;
    left: 0;
    background-position: 30% 20% !important;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.border-sales {
    position: absolute;
    margin-left: 40px;
    width: min-content !important;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(19px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: transform .3s;
}

.border-sales:hover {
    background: rgba(255, 255, 255, 0.596);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.767);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width:300px) and (max-width:500px) {
    .img-sales {
        width: 100%;
        height: 390px;
        background-position: 55% 100% !important;
    }

    .border-sales {
        position: relative;
        display: flex;
        width: 260px !important;
        height: 60px;
        left: 0 !important;
        bottom: 0 !important;
        transform: translateX(0%) translateY(650%);
    }
    .border-sales:hover {
        transform: translateX(0%) translateY(650%);
    }
    .border-sales h1 {
        font-size: 0.995rem;
        font-weight: 100;
        padding-top: 5px;
        padding-right: 3px;
    }
    .li-sales,
    li>.li-sales {
        font-size: 0.605rem !important;
    }
    .li-sales1 {
        margin-top: -6px !important;
    }
}

/* sales and Services End */

/* Product Enquiry Start */
#land-sec {
    background-image: url(../img/productEnquiry.jpg);
    width: 100vw;
    height: fit-content;
    background-position: center !important;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px !important;
}

.pt-70 {
    padding-top: 70px;
}

.p-25 {
    font-size: 25px;
}

.p-15 {
    font-size: 15px;
}

.p-50 {
    font-size: 50px;
}

.bg-0 {
    background-image: linear-gradient(to top, #00006d, #0047aa, #007dc6, #00b0c9, #00e1c1);
}

.center {
    text-align: center;
}
.tx-co {
    color: rgb(0, 0, 109);
}

.tx-co:hover {
    color: #00006d;
}
.logo0 {
    color: #ff6f00;
}
.border-none {
    border: none;
    background: transparent;
}
.off {
    overflow: hidden;
}
.offer {
    background-color: rgb(89, 0, 255);
    color: white;
    padding: 5px 15px;
    transform: rotate(-40deg) translateX(-38px) translateY(-15px);
}
.card-bg1 {
    background-color: rgb(211, 214, 255);
    border: none;
    border-radius: 25px;
}
.nt::before {
    content: "\2713";
    font-weight: bolder;
    padding-right: 8px;
    color: rgb(89, 0, 255);
    font-size: 21px;
}
ul>.nt {
    padding-bottom: 10px;
    list-style-type: none;
}
.btn-purple {
    background-color: rgb(0, 12, 70);
    color: white;
}
.btn-hover:hover {
    background-color: transparent;
    color: rgb(0, 10, 59);
    border: 1px solid rgb(0, 10, 59);
}
.offer1 {
    background-color: rgb(0, 184, 24);
    color: white !important;
    padding: 5px 15px;
    transform: rotate(-40deg) translateX(-38px) translateY(-15px);
}

.card-bg2 {
    background-color: rgb(7, 0, 66);
    border: none;
    border-radius: 25px;
}
.nt1::before {
    content: "\2713";
    font-weight: bolder;
    padding-right: 8px;
    color: rgb(0, 228, 30);
    font-size: 21px;
}
ul>.nt1 {
    padding-bottom: 10px;
    list-style-type: none;
}
.nav-btn-c2 {
    background-color: rgb(0, 184, 24);
    color: rgb(0, 0, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
}

.nav-btn-c2:hover {
    background-color: rgb(0, 165, 22);
    color: rgb(255, 255, 255);
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
}

@media (min-width:300px) and (max-width:500px) {
    .img-penq {
        width: 100%;
        height: 100% !important;
        background-position: 55% 100% !important;
    }

    .border-penq {
        display: -moz-inline-stack !important;
        width: 240px !important;
        height: 60px;
        left: 10% !important;
        bottom: 40% !important;
    }

    .border-penq h1 {
        font-size: 0.895rem;
        font-weight: 100;
        padding-top: 5px;
        padding-right: 3px;
    }

    .li-penq,
    li>.li-penq {
        font-size: 0.605rem !important;
    }

}

/* Product Enquiry End */

/* 404 page */

.bg-404 {
    background-image: radial-gradient(circle, #fbfbfb, #ebecf9, #d8def8, #bfd1f7, #a1c6f6, #8dbff6, #77b8f6, #5ab2f6, #4dadf8, #3fa8fb, #30a3fd, #1e9eff);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

@media screen and (max-width:950px) {
    .bg-404 {
        width: 100vw !important;
        height: 500px !important;
    }

    .bg-404 .container {
        margin: 5rem 0rem 5rem 0rem !important;
        justify-content: center;
        align-items: center !important;
    }
}

/* Module slider Start */