/* submit alert box design */
.container-sub {
    margin-left: 510px;
    top: 0;
}

@media (max-width:1080px) {
    .container-sub {
        margin-left: 70px;
        top: 0;
    }    
}

.sub-popup {
    position: absolute;
    z-index: 999999;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: min(100%, 350px);
    padding: 10px 35px;
    top: 0;
    margin-top: 0;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    -webkit-box-shadow: 3px 3.5px 16px 2.5px #f5f3f3bd;
    -moz-box-shadow: 3px 3.5px 16px 2.5px #f5f3f3bd;
    box-shadow: 3px 3.5px 16px 2.5px #f5f3f3bd;
}

.sub-popup1 {
    position: absolute;
    z-index: 999999;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: min(100%, 350px);
    padding: 10px 35px;
    top: 0;
    margin-top: 0;
    transform: translate(-55%, -29%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    -webkit-box-shadow: 3px 3.5px 16px 2.5px #a7a4a4f6;
    -moz-box-shadow: 3px 3.5px 16px 2.5px #a7a4a4f6;
    box-shadow: 3px 3.5px 16px 2.5px #a7a4a4f6;
}

.open-popup {
    position: fixed;
    visibility: visible;
    margin-left: 195px;
    top: 42%;
    transform: translate(-50%, -50%) scale(1);
}

.sub-popup img {
    margin-top: -12px;
    width: 50px;
    margin-left: 8px;
}
#pop1 img {
    border-radius: 50%;
    margin-top: -45px;
    width: 50px;
    margin-left: 8px;
}

.exit {
    width: 100%;
    height: 30px;
    line-height: 10px;
    margin-bottom: 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background: rgb(64, 190, 64);
}

.exit:hover {
    background: rgb(10, 160, 10);
    -webkit-box-shadow: 0.5px 0 6.5px 0.5px #c0c0c0;
    -moz-box-shadow: 0.5px 0 6.5px 0.5px #c0c0c0;
    box-shadow: 0.5px 0 6.5px 0.5px #c0c0c0;
}

.exit1 {
    width: 100%;
    height: 30px;
    line-height: 10px;
    margin-bottom: 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background: rgb(224, 14, 14);
}

.exit1:hover {
    background: rgb(243, 55, 55);
    -webkit-box-shadow: 0.5px 0 6.5px 0.5px #c0c0c0;
    -moz-box-shadow: 0.5px 0 6.5px 0.5px #c0c0c0;
    box-shadow: 0.5px 0 6.5px 0.5px #c0c0c0;
}