/* submit alert box design */
.container-sub {
    margin-left: 510px;
    top: 0;
}
.sub-popup {
    position: absolute;
    z-index: 999999;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    padding: 10px 35px;
    top: 0;
    margin-top: 0;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    -webkit-box-shadow: 3px 3.5px 16px 2.5px #f5f3f3bd;
    -moz-box-shadow: 3px 3.5px 16px 2.5px #f5f3f3bd;
    box-shadow: 3px 3.5px 16px 2.5px #f5f3f3bd;
}
.sub-popup1 {
    position: absolute;
    z-index: 999999;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    padding: 10px 35px;
    top: 0;
    margin-top: 0;
    transform: translate(-55%, -29%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    -webkit-box-shadow: 3px 3.5px 16px 2.5px #a7a4a4f6;
    -moz-box-shadow: 3px 3.5px 16px 2.5px #a7a4a4f6;
    box-shadow: 3px 3.5px 16px 2.5px #a7a4a4f6;
}
.open-popup {
    position: fixed;
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sub-popup img {
    margin-top: -50px;
    width: 50px;
    margin-left: 8px;
}
#pop1 .wrong {
    border-radius: 50%;
    margin-top: -45px;
    width: 50px;
    margin-left: 8px;
}
.exit {
    width: 100%;
    height: 30px;
    line-height: 10px;
    margin-bottom: 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background: rgb(64, 190, 64);
}
.exit:hover {
    background: rgb(10, 160, 10);
    -webkit-box-shadow: 0.5px 0 6.5px 0.5px #c0c0c0;
    -moz-box-shadow: 0.5px 0 6.5px 0.5px #c0c0c0;
    box-shadow: 0.5px 0 6.5px 0.5px #c0c0c0;
}
.exit1 {
    width: 100%;
    height: 30px;
    line-height: 10px;
    margin-bottom: 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background: rgb(224, 14, 14);
}
.exit1:hover {
    background: rgb(243, 55, 55);
    -webkit-box-shadow: 0.5px 0 6.5px 0.5px #c0c0c0;
    -moz-box-shadow: 0.5px 0 6.5px 0.5px #c0c0c0;
    box-shadow: 0.5px 0 6.5px 0.5px #c0c0c0;
}
@media (min-width:300px) and (max-width:500px) {
    .container-sub {
        margin-left: -1rem;
    }
    .sub-popup>img {
        margin-top: -60px !important;
        width: 50px;
        margin-left: 8px;
    }
    .sub-popup>h2 {
        margin-top: -1rem !important;
        margin: 0px 0px 0px;
    }
    .sub-popup>p {
        margin-bottom: 0;
        margin-top: 0.5rem !important;
    }
    .sub-popup {
        width: 280px !important;
        height: 180px;
        padding: 2px 3px;
    }
    .sub-popup1 {
        width: 280px !important;
        height: 180px;
        padding: 10px 5px;
    }
    .sub-popup1>p {
        padding: 2px 2px 8px;
    }
    .exit1 {
        margin-top: -10px !important;
    }
    .sub-popup1 p {
        margin-bottom: 0 !important;
    }
    .exit {
        margin-top: 0px !important;
    }
}
@media (min-width:501px) and (max-width:850px) {
    .container-sub {
        margin-left: 12rem;
    }
}