.text-dec a {
    background-image: linear-gradient(to right, #355EFC, #0a4fe4 50%, rgb(97, 98, 104) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 1px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
    font-weight:500;
    font-size: 18px;
}

.text-dec a:before {
    content: '';
    background: #355EFC;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s ease-in-out;
}

.text-dec a:hover {
    background-position: 0;
}

.text-dec a:hover::before {
    width: 100%;
}


.selected {
    background-image: linear-gradient(to right, #355EFC, #355EFC 50%, #0a4fe4 50%) !important;
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 20px;
    /* pointer-events: none; */
}