@media only screen and (max-width:992px) {
  .toZoom {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .toZoom:hover {
    opacity: 0.7;
  }

  .modal1 {
    display: none;
    position: fixed;
    z-index: 99999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content1 {
    display: block;
    width: 100%;
    max-width: 700px;
    background-color: #fefefe;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-content1 img {
    max-width: 100%;
  }

  .close {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #f1f1f1;
    font-size: 55px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}