@media (min-width:300px) and (max-width:700px) {
  .toZoom {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .toZoom:hover {
    opacity: 0.7;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    display: block;
    margin-top: 200px;
    width: 100%;
    max-width: 700px;
    background-color: #fefefe;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .modal-content img {
    max-width: 100%;
    height: auto;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}